<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--[if IE 9]>
<html class="ie9"> <![endif]-->
<!--[if IE 8]>
<html class="ie8"> <![endif]-->
<html>
	<head>
		<title>【OPPO A37 智能手机】最新报价_图片_配置参数-OPPO智能手机官网</title>
		<meta name="keywords" content="OPPO A37,OPPOA37手机,OPPOA37自拍手机,OPPOA37智能手机">
		<meta name="description" content="OPPO A37 留住美一刻!采用多帧采样技术,能拍出3200万像素的超清照片；全面搭载NFC支付,畅快体验便捷生活。">
		<meta charset="UTF-8"/>
		<meta http-equiv="content-language" content="zh-CN" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/font_4.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.min_2.css">

		<script>
        function platform() {
			if (/AppleWebKit.*Mobile/i.test(navigator.userAgent)
					|| (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/
							.test(navigator.userAgent))) {
				if (window.location.href.indexOf("?mobile") < 0) {
					try {
						if (/Android|webOS|iPhone|iPod|BlackBerry/i
								.test(navigator.userAgent)) {
							//return 'mobile';
							return 1;
						} else if (/iPad/i.test(navigator.userAgent)) {
							//return 'ipad';	
							return 1;
						} else {
							//return 'other';
							return 1;
						}
					} catch (e) {
					}
				}
			} else {
				//return 'pc';
				return 0;
			}
		}

		var isPC = platform();
		if (isPC != 0) {
			window.location.href = "/cn/product/m/a37/index.html";
		}else{
			
		}
        </script>
	</head>
	<body>

		<div id="header">
			<div class="y-header">
				<div class="y-logo">
                    <a href="//www.oppo.com/cn/" target="_blank">A37</a>
                </div>
                <div class="y-menu">
                    <ul class="menu">
                        <li><a href="index.html" class="active">概览</a></li>
                        <li><a href="params.html">参数</a></li>
                    </ul>
                </div>
                <div class="y-buy">
                    <!-- <a class="a37-order" href="http://hd.oppo.com/2016/a37/sale/index.html" target="_blank" onclick="_optj.push(['_trackEvent', 'product', 'a37', 'btn', 'order']);">立即预约</a> -->
                    <a class="a37-buy" href="http://www.opposhop.cn/products/368.html" target="_blank" onclick="_optj.push(['_trackEvent', 'product', 'a37', 'btn', 'buy']);">立即购买</a>
                </div>
			</div>
		</div>

		<div class="sec sec-1" data-sec='1'>
			<div class="wrapper">
				<img src="picture/sec-1-title.png" alt="" class="sec-1-title">
				<img src="picture/sec-1-mobile-1.png" alt="" class="sec-1-mobile-1">
				<img src="picture/sec-1-mobile-2.png" alt="" class="sec-1-mobile-2">
			</div>
		</div>

		<div class="sec sec-2" data-sec="2">
			<div class="wrapper">
				<img src="picture/sec-2-mobile.jpg" alt="" class="sec-2-mobile">
				<div class="sec-texts sec-2-text">
					<div class='title'>流线雅弧一体机身<br/>看得见的精致细节</div>
					<div class='text'>初见A37，就忍不住握在手中细细把玩。2.5D弧度屏温润晶莹，以优雅的曲线过渡至微弧中框和圆润倒角，质感细腻的机身散发熠熠光泽。整部手机犹如浑然一体的艺术品，凝于掌心。</div>
				</div>
			</div>
		</div>

		<div class="sec sec-3" data-sec="3">
			<div class="wrapper">
				<img src="picture/sec-3-mobile-1.png" alt="" class="sec-3-mobile sec-3-mobile-1">
				<img src="picture/sec-3-mobile-2.png" alt="" class="sec-3-mobile sec-3-mobile-2">
				<img src="picture/sec-3-mobile-3.png" alt="" class="sec-3-mobile sec-3-mobile-3">
				<div class="sec-texts sec-3-text">
					<div class='title'>轻出手感一握难忘<br/>触得到的细腻质感</div>
					<div class='text'>好手感背后，是触感和握感的全面提升。A37拥有5.0英寸大屏机身，重量却仅有140g。加之重新优化的圆润雅弧中框，更细腻的背部触感，使握持A37变成一件舒适、愉悦的事，仿佛在温柔地提醒你：“Hi，我在你的手心。”</div>
				</div>
			</div>
		</div>

		<div class="sec sec-4" data-sec="4">
			<div class="wrapper">
				<img src="picture/sec-4-mobile.png" alt="" class="sec-4-mobile">
				<div class="sec-texts sec-4-text">
					<div class='title'>500万像素前置摄像头<br/>全新美颜4.0</div>
					<div class='text'>想比平时漂亮一点点，可以化一个淡妆，也可以坠入一段新恋情。但更美妙的是，在A37的镜头里，邂逅更美的自己。搭载全新升级的美颜4.0和500万像素前置摄像头的A37，每一张自拍都值得收藏。即使在暗光下，屏幕自动补光让你依旧光彩动人。</div>
				</div>
			</div>
		</div>

		<div class="sec sec-5" data-sec="5">
			<div class="wrapper">
				<img src="picture/sec-5-mobile.jpg" alt="" class="sec-5-mobile">
				<div class="sec-texts sec-5-text sec-text-center">
					<div class='title'>3200万像素超清画质<br/>画质从不止于镜头</div>
					<div class='text'>OPPO与生俱来的拍照基因，深入到拍照的每一个细节。A37采用多帧采样技术，使得1.4um的800万像素后置摄像头，能拍出3200万像素的超清照片，<br/>纤毫毕现，拍照效果足以媲美相机。即使在暗光环境下，也能拍出细节更丰富的照片，轻松捕捉美好瞬间。</div>
				</div>
			</div>
		</div>

		<div class="sec sec-6" data-sec="6">
			<div class="wrapper">
				<img src="picture/sec-6-mobile.png" alt="" class="sec-6-mobile">
				<div class="sec-texts sec-6-text sec-text-center">
					<div class='title'>流畅新体验  8核+2GB大运存</div>
					<div class='text'>强大的64位8核处理器与2GB大运存亲密协作，快速启动应用，畅玩游戏，听音乐、刷微博、看电影多任务切换自如，用久依然畅快无阻。<br/>16GB 大内存，更支持128GB内存扩展，无忧存储更多的音乐和照片。</div>
				</div>
			</div>
		</div>

		<div class="sec sec-7" data-sec="7">
			<div class="wrapper">
				<img src="picture/sec-7-mobile.jpg" alt="" class="sec-7-mobile">
				<div class="sec-texts sec-7-text sec-invert-color">
					<div class='title'>NFC闪付<br/>便捷生活新时尚</div>
					<div class='text'>有没有想过，你的手机也是你的银行卡、公交卡、校园一卡通？A37全面搭载NFC支付，灵敏度高，只需嘀一下，畅快体验便捷生活。同时支持点对点传输，碰一碰，快速传输图片、视频、音乐等文件。从此，告别繁琐卡包，出门只带A37。</div>
					<img src="picture/sec-7-icon.png" alt="" class="sec-7-icon">
				</div>
			</div>
		</div>

		<div class="sec sec-8" data-sec="8">
			<div class="wrapper">
				<img src="picture/sec-8-mobile.png" alt="" class="sec-8-mobile">
				<div class="sec-texts sec-8-text sec-text-center">
					<div class='title'>全网通2.0+4G VoLTE</div>
					<div class='text'>搭载VoLTE技术的A37拥有移动版和全网通两个版本，全网通版全面覆盖三大网络，打电话的同时依然畅享4G移动网络，<br/>同时支持全网通2.0双卡双待*，可以选择两张卡中的任意一张使用4G网络，让每一张卡的流量都得到充分利用。</div>
				</div>
			</div>
		</div>

		<div class="sec sec-9" data-sec="9">
			<div class="wrapper">
				<img src="picture/sec-9-mobile.jpg" alt="" class="sec-9-mobile">
				<div class="sec-texts sec-9-text sec-invert-color">
					<div class='title'>Real原声技术<em class="tm">&#x0099;</em><sub class="star">*</sub><br/>天籁音质享受</div>
					<div class='text'>OPPO研发的Real原声技术™，高保真声音细节，打造空间立体声场，提供身临其境的耳放享受；搭配大音腔、超薄型五磁路扬声器，每一首歌都值得细细回味。</div>
					<div class="comment">*Supported by Dirac</div>
				</div>
			</div>
		</div>

		<div class="sec sec-10" data-sec="10">
			<div class="wrapper">
				<img src="picture/sec-10-mobile.jpg" alt="" class="sec-10-mobile">
				<div class="sec-texts sec-10-text">
					<div class='title'>新一代ColorOS 3.0<br/>全新只为更好</div>
					<div class='text'>A37搭载全新ColorOS 3.0，它拥有赏心悦目的秩序美，富有层次的桌面图标，一用就会的交互操作，以及更快、更稳、更省电的性能，让你的体验全新升级。</div>
				</div>
			</div>
		</div>

		<div class="sec sec-11" data-sec="11">
			<div class="wrapper">
				<img src="picture/sec-11-mobile.jpg" alt="" class="sec-11-mobile">
			</div>
		</div>

		<div class="sec sec-12" data-sec="12">
			<div class="wrapper">
				<div class="sec-comments">
					<p>注释：</p>
					<br/>
					<p>搭载VoLTE技术的A37拥有移动版和全网通两个版本，全网通版全面覆盖三大网络，打电话的同时依然畅享4G移动网络，同时支持全网通2.0双卡双待，可以选择两张卡中的任意一张使用4G网络，让每一张卡的流量都得到充分利用。</p>
					<p>NFC：</p>
					<p>NFC闪付功能，需配合NFC SIM卡、相应的支付APP和公交通APP使用; NFC文件传输功能，需双方手机同时支持NFC文件传输功能Android Beam; NFC门禁与打卡，需要NFC SIM卡，且需要和企业单位内部系统联接开通。</p>
					<p>全网通2.0：</p>
					<p>一张电信卡，一张移动或联通卡，任意一张卡可选4G，另一张为2G； 两张卡都是电信卡，主卡支持4G，副卡无服务； 移动卡与联通卡可以自由搭配使用，任意一张卡可选 4G，另一张为2G。</p>
					<p>页面中所涉及到的数据均来源于我司设计技术参数、实验室及供应商测试数据，实际情况可能会因测试软件版本、具体测试环境、具体版本不同，而略有差异。</p>
					<p>*产品图片仅供参考，请以实物为准。产品某些规格和描述可能因供应商更换等原因而发生变化，不会影响用户体验，请以产品实际为准。</p>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/script.min.js"></script>

		<!-- 百度统计代码  -->
		<script>
		var _hmt = _hmt || [];
		(function() {
		  	var hm = document.createElement("script");
		  	hm.src = "//hm.baidu.com/hm.js?9cb8846b548404438c81aaa02eda4f0f";
		  	var s = document.getElementsByTagName("script")[0];
		  	s.parentNode.insertBefore(hm, s);
		})();
		</script>

		<!-- oppo统计-->
		<script>
		var _optj = _optj || [];
		(function() {
		  	var op = document.createElement("script");
		  	op.src = "//shopfs.myoppo.com/hd/static/js/optj-1.1.0.min.js";
		  	var s = document.getElementsByTagName("script")[0];
		  	s.parentNode.insertBefore(op, s);
		})();
		</script>

		<!-- 谷歌统计代码 -->
		<script>
		  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  	ga('create', 'UA-66238290-1', 'auto');
		  	ga('send', 'pageview');
		</script>

		<!-- 华扬统计 -->
		<script type="text/javascript">
		var _utaq = _utaq || [];
		_utaq.push(["trackPageView"]);
		_utaq.push(["enableLinkTracking"]);
		(function() {
		var utu=(("https:" == document.location.protocol) ? "https" : "http") + "://sit.gentags.net/";
		_utaq.push(["setTrackerUrl", utu+"site/unids.gif"]);
		_utaq.push(["setSiteId", "1351"]);
		var utd=document, ut=utd.createElement("script"), s=utd.getElementsByTagName("script")[0]; ut.type="text/javascript";
		ut.defer=true; ut.async=true; ut.src=utu+"adagent/js/uta.js"; s.parentNode.insertBefore(ut,s);
		})();
		</script>
		<noscript><img src="picture/033e67fa81f449faaeba8deab1e03f77.gif" style="border:0" alt="" /></noscript>

	</body>
</html>