<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--[if IE 9]>
<html class="ie9"> <![endif]-->
<!--[if IE 8]>
<html class="ie8"> <![endif]-->
<html>
	<head>
		<title>【OPPO A57 拍照手机】最新报价_图片_配置参数-OPPO智能手机官网</title>
		<meta name="keywords" content="OPPO A57,OPPOA57手机,OPPOA57智能手机">
		<meta name="description" content="OPPO A57年轻自拍新选择!搭载1600万像素前置摄像头,全新美颜4.0功能,画质更好,细节更细腻；配备正面指纹识别,解锁又快又准；采用3GB运存+32GB内存,支持128GB内存扩展,运行更快内存更大。">
		<meta charset="UTF-8"/>
		<meta http-equiv="content-language" content="zh-CN" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/font_2.css"/>
        <link rel="stylesheet" type="text/css" href="css/swiper.min_2.css">
		<link rel="stylesheet" type="text/css" href="css/main.min.css">

		<script>
        function platform() {
			if (/AppleWebKit.*Mobile/i.test(navigator.userAgent)
					|| (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/
							.test(navigator.userAgent))) {
				if (window.location.href.indexOf("?mobile") < 0) {
					try {
						if (/Android|webOS|iPhone|iPod|BlackBerry/i
								.test(navigator.userAgent)) {
							//return 'mobile';
							return 1;
						} else if (/iPad/i.test(navigator.userAgent)) {
							//return 'ipad';
							return 1;
						} else {
							//return 'other';
							return 1;
						}
					} catch (e) {
					}
				}
			} else {
				//return 'pc';
				return 0;
			}
		}

		var isPC = platform();
		if (isPC != 0) {
			window.location.href = "/cn/product/m/a57/index.html";
		}
        </script>
	</head>
	<body>
		<div id="header">
			<div class="y-header">
				<div class="y-logo">
                    <a href="//www.oppo.com/cn/" target="_blank">A57</a>
                </div>
                <div class="y-menu">
                    <ul class="menu">
                        <li><a href="index.html" class="active">概览</a></li>
                        <li><a href="params.html">参数</a></li>
                    </ul>
                </div>
                <div class="y-buy">
                    <a class="r9s-buy" href="http://www.opposhop.cn/products/397.html" target="_blank" onclick="_optj.push(['_trackEvent', 'product', 'r9s', 'btn', 'buy']);">立即购买</a>
                </div>
			</div>
		</div>

		<div class="sec sec-1" data-sec='1'>
			<div class="wrapper">
				<img src="picture/sec-1-mobile-1.png" alt="a57" class="sec-1-mobile sec-1-mobile-1">
				<img src="picture/sec-1-mobile-2.png" alt="a57" class="sec-1-mobile sec-1-mobile-2">
				<img src="picture/sec-1-shadow-1.png" alt="a57" class="sec-1-shadow sec-1-shadow-1">
				<img src="picture/sec-1-shadow-2.png" alt="a57" class="sec-1-shadow sec-1-shadow-2">
				<img src="picture/sec-1-title.png" alt="a57" class="sec-1-title">
				<img src="picture/sec-1-icons.png" alt="a57" class="sec-1-icons">
			</div>
		</div>

		<div class="sec sec-2" data-sec='2'>
			<div class="wrapper">
				<div class="sec-texts sec-2-text">
					<div class='sec-text title'>1600万美颜自拍<br/>与旗舰手机一样的惊喜表现</div>
					<div class='sec-text text'>A57搭载旗舰级的1600万像素前置摄像头，全新的美颜4.0功能，画质更好，细节更细腻，即便是弱光时，也能拍出<br/>明亮动人的自拍大片。</div>
				</div>
				<img src="picture/sec-2-mobile.jpg" alt="a57" class="sec-2-mobile">
			</div>
		</div>

		<div class="sec sec-3" data-sec='3'>
			<div class="wrapper">
				<div class="sec-texts sec-3-text">
					<div class='title'>手势自拍+背景虚化<br/>自拍更美更方便</div>
					<div class='text reverse-636363'>A57采用全新的手势自拍和背景虚化功能。只要对着镜头张开五指就能自拍，无需点击屏幕。同时能将照片背景进行虚化，更突出人物主体，画面更加精美。</div>
				</div>
				<div class="swiper-container swiper-container-horizontal swiper-container-fade sec-3-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide sec-3-swiper-1"></div>
						<div class="swiper-slide sec-3-swiper-2"></div>
						<div class="swiper-slide sec-3-swiper-3"></div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>

		<div class="sec sec-4" data-sec='4'>
			<div class="wrapper">
				<div class="sec-texts sec-4-text">
					<div class='sec-text title'>1300万像素后置拍照<br/>轻松拍出好照片</div>
					<div class='sec-text text'>A57使用先进的高感光堆栈式摄像头，并配备了超快的PDAF相位对焦，随手一拍就能拍下好照片，不错过<br/>每一个精彩瞬间。</div>
				</div>
				<img src="picture/sec-4-mobile.jpg" alt="a57" class="sec-4-mobile">
			</div>
		</div>

		<div class="sec sec-5" data-sec='5'>
			<div class="wrapper">
				<div class="sec-texts sec-5-text">
					<div class='sec-text title'>闪速正面指纹识别<br/>手机解锁又快又准</div>
					<div class='sec-text text'>A57搭载旗舰级固态轻触式正面指纹识别，闪速解锁一触即开，顺手又畅快。 并采用珠宝级工艺打造的锆宝石材质和<br/>疏水膜工艺，灵敏耐磨，湿手解锁也畅快。并支持微信和支付宝指纹支付。</div>
				</div>
				<img src="picture/sec-5-mobile.png" alt="a57" class="sec-5-mobile">
				<div class="sec-5-layer-box">
					<img src="picture/sec-5-layer-1.png" alt="a57" class="sec-5-layer sec-5-layer-1">
					<img src="picture/sec-5-layer-2.png" alt="a57" class="sec-5-layer sec-5-layer-2">
					<img src="picture/sec-5-layer-3.png" alt="a57" class="sec-5-layer sec-5-layer-3">
					<img src="picture/sec-5-layer-4.png" alt="a57" class="sec-5-layer sec-5-layer-4">
					<img src="picture/sec-5-layer-5.png" alt="a57" class="sec-5-layer sec-5-layer-5">
				</div>
			</div>
		</div>

		<div class="sec sec-6" data-sec='6'>
			<div class="wrapper">
				<div class="sec-texts sec-6-text">
					<div class='title reserve-f2f2f2'>2900mAh大电池<br/>续航更强 手感更好</div>
					<div class='text reserve-fff'>在5.2英寸的尺寸中，放入更大的2900毫安时电池，让你拥有更易握持的好手感的同时，拥有更强的续航能力，追剧看电影，都更加畅快。可连续看视频11小时4分，连续通话23小时40分，综合使用时长高达13小时30分。</div>
				</div>
				<img src="picture/sec-6-mobile.jpg" alt="a57" class="sec-6-mobile">
				<div class="sec-6-line-box">
					<div class="sec-6-line-container">
						<div class="sec-6-line sec-6-line-1"></div>
						<div class="sec-6-line sec-6-line-2"></div>
						<div class="sec-6-line sec-6-line-3"></div>
						<div class="sec-6-line sec-6-line-4"></div>
						<div class="sec-6-line sec-6-line-5"></div>
						<div class="sec-6-line sec-6-line-6"></div>
						<div class="sec-6-line sec-6-line-7"></div>
						<div class="sec-6-line sec-6-line-8"></div>
						<div class="sec-6-line sec-6-line-9"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="sec sec-7" data-sec='7'>
			<div class="wrapper">
				<div class="sec-texts sec-7-text">
					<div class='sec-text title'>3GB运存+32GB内存<br/>运行更快 内存更大</div>
					<div class='sec-text text'>A57采用3GB超大运行内存，可同时运行APP更多，运行速度更快，手机运行更加流畅。<br/>同时使用32GB存储内存，支持128GB内存扩展，可将一整部电视剧装进手机，出门在外随时娱乐。</div>
				</div>
				<img src="picture/sec-7-mobile-1.png" alt="a57" class="sec-7-mobile sec-7-mobile-1">
				<img src="picture/sec-7-mobile-2.png" alt="a57" class="sec-7-mobile sec-7-mobile-2">
				<img src="picture/sec-7-specs.png" alt="a57" class="sec-7-specs">
			</div>
		</div>

		<div class="sec sec-8" data-sec='8'>
			<div class="wrapper">
				<div class="sec-texts sec-8-text">
					<div class='sec-text title reserve-fff'>Real原声技术<em class="tm">&#x0099;</em><sub class="star">*</sub><br/>天籁音质享受</div>
					<div class='sec-text text reserve-fff'>A57采用OPPO Real原声技术<em class="tm">&#x0099;</em>，高度保真声音细节，打造空间立体声场，高音明亮，低音浑厚，澎湃而不失<br/>层次感，每一首歌都值得细细回味。</div>
				</div>
				<div id="parallax">
					<div class="layer" data-depth="0.30">
						<img src="picture/sec-8-bg.jpg" alt="a57" class="sec-8-bg">
					</div>
					<div class="layer" data-depth="0.10">
						<img src="picture/sec-8-girl.png" alt="a57" class="sec-8-girl">
					</div>
				</div>
				<img src="picture/sec-8-static.png" alt="a57" class="sec-8-static">
			</div>
		</div>

		<div class="sec sec-9" data-sec='9'>
			<div class="wrapper">
				<div class="sec-texts sec-9-text">
					<div class='sec-text title'>应用分身<br/>两个微信 两个QQ</div>
					<div class='sec-text text'>A57支持系统级别的应用分身功能，手机可同时使用两个微信和两个QQ，不仅工作生活两不误，而且更加稳定可靠。<br/>同时还可以给第二个微信和QQ改名字，更易辨认。</div>
				</div>
				<img src="picture/sec-9-mobile.png" alt="a57" class="sec-9-mobile">
				<img src="picture/sec-9-double.png" alt="a57" class="sec-9-double">
			</div>
		</div>

		<div class="sec sec-10" data-sec='10'>
			<div class="wrapper">
				<div class="sec-texts sec-10-text">
					<div class='title reserve-f2f2f2'>支持计步功能<br/>让每天的运动量一目了然</div>
					<div class='text reserve-e9e9e9'>A57支持微信运动和QQ运动等计步功能，<br/>可以查看自己每天行走的步数，也可以和其他用户<br/>进行运动量的PK或点赞。</div>
				</div>
				<img src="picture/sec-10-mobile.jpg" alt="a57" class="sec-10-mobile">
			</div>
		</div>

		<div class="sec sec-11" data-sec='11'>
			<div class="wrapper">
				<div class="sec-texts sec-11-text">
					<div class='sec-text title'>手机搬家<br/>只需4步 将重要数据搬至新手机</div>
					<div class='sec-text text'>轻轻一扫，就能将旧手机上的重要数据搬到新手机。这次换A57，不用再费神下载<br/>APP、登录账号密码、重新连接wifi了。</div>
				</div>
				<img src="picture/sec-11-mobile.jpg" alt="a57" class="sec-11-mobile">
			</div>
		</div>

		<div class="comments">
			<div class="wrapper">
				<p>备注：<br/><br/>*Real原声技术<em class="tm">&#x0099;</em><sub class="star">*</sub>：<br/>Supported by Dirac</p>
				<p>*页面中所涉及到的数据均来源于我司设计技术参数、实验室及供应商测试数据，实际情况会因测试软件版本、具体测试环境、具体版本不同，而略有差异。</p>
				<p>*产品图片仅供参考，请以实物为准。产品某些规格和描述可能因供应商更换等原因而发生变化，不会影响用户体验，请以产品实际为准。</p>
			</div>
		</div>

		<!-- 百度统计代码  -->
		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?9cb8846b548404438c81aaa02eda4f0f";
		  var s = document.getElementsByTagName("script")[0];
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>

		<!-- oppo统计-->
		<script>
		var _optj = _optj || [];
		(function() {
		  var op = document.createElement("script");
		  op.src = "//shopfs.myoppo.com/hd/static/js/optj-1.1.0.min.js?20161104";
		  var s = document.getElementsByTagName("script")[0];
		  s.parentNode.insertBefore(op, s);
		})();
		</script>

		<!-- 谷歌统计代码 -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-66238290-1', 'auto');
		ga('send', 'pageview');
		</script>


		<!-- 华扬统计 -->
		<script type="text/javascript">
		var _utaq = _utaq || [];
		_utaq.push(["trackPageView"]);
		_utaq.push(["enableLinkTracking"]);
		(function() {
		var utu=(("https:" == document.location.protocol) ? "https" : "http") + "://sit.gentags.net/";
		_utaq.push(["setTrackerUrl", utu+"site/unids.gif"]);
		_utaq.push(["setSiteId", "1351"]);
		var utd=document, ut=utd.createElement("script"), s=utd.getElementsByTagName("script")[0]; ut.type="text/javascript";
		ut.defer=true; ut.async=true; ut.src=utu+"adagent/js/uta.js"; s.parentNode.insertBefore(ut,s);
		})();
		</script>
		<noscript><img src="picture/033e67fa81f449faaeba8deab1e03f77.gif" style="border:0" alt="" /></noscript>

		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/swiper.jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.parallax.min.js"></script>
		<script type="text/javascript" src="js/script.min.js"></script>

		<!--听云监测-->
		<script src="js/tingyun-rum.js"></script>

	</body>
</html>