<!DOCTYPE html>
<html lang="zh-CN" xmlns:wb="http://open.weibo.com/wb">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="applicable-device" content="pc,mobile">
<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
<meta name="keywords" content="OPPOR11,OPPOR9s,OPPO,OPPO官网,OPPO手机,OPPO社区,OPPO论坛">
<meta name="description" content="OPPO社区是O粉的官方互动交流平台，这里有OPPOR11、R9s等新款手机的玩机技巧，丰富的手机壁纸、手机铃声、手机游戏、手机App，官方活动以及拍客等众多内容，欢迎加入O粉的大家庭！">
<title>OPPOR11_前后2000万拍照更清晰_OPPO手机官方社区</title>
<base target="_blank" />
<link href="css/common.min.css" rel="stylesheet">





<!--[if lte IE 8]>
<script>'abbr article aside audio bdi canvas data datalist details dialog figcaption figure footer header hgroup main mark meter nav output picture progress section summary template subline time video'.replace(/\w+/g,function(n){document.createElement(n)});</script>
<![endif]-->
<script>var baseUrl='',siteName='OPPO社区',hostInfo='http://www.oppo.cn',ossHost='http://www.oppo.cn',rsaSign={sign:'f/1jrTl83JUt/cIjwjFu6OUV4ym3yoG4pR3kCQ+91OmYEECY8YEOiW79tL2y2GT6VCmTyMuZsTi6DnBAvbfHMUIhC65Rl9NNcNna4xZGw1c1SSOt/TbVc6bu5t6gl730/+O5BK2gLvTO3YOYmiPYKUzyMrr+jFQN9SGLoUGJZ6A='},themeUrl='/themes/default',addScript=function(a){var b=document,c="script",d=b.createElement(c),e=b.getElementsByTagName(c)[0];d.async=1,d.src=a,e.parentNode.insertBefore(d,e)},_hmt=_hmt||[];addScript("//hm.baidu.com/hm.js?fab357f3d6fac1bd87ade8e294603d06");!function(a,b,c){a["GoogleAnalyticsObject"]=c,a[c]=a[c]||function(){(a[c].q=a[c].q||[]).push(arguments)},a[c].l=1*new Date,addScript(b)}(window,"//www.google-analytics.com/analytics.js","ga"),ga("create","UA-29338249-14","auto"),ga("send","pageview");</script>
</head>
<body>

<div class="Wrap">
<!-- BEGIN HEADER -->
<header>
  <div class="Top">
     
    <a class="Fr Show Top-User" target="_self" href="/login" rel="nofollow"></a> 
     
    <a id="Top_Menu" class="Fl Show"></a>
    <nav class="Dn">
       
      <a href="http://www.oppo.cn" target="_self" class="">
      首页
      </a> 
       
      <a href="http://www.oppo.cn/topic-1-1" target="_self" class="">
      话题
      </a> 
       
      <a href="http://www.oppo.cn/activity-1" target="_self" class="">
      活动
      </a> 
       
      <a href="http://www.oppo.cn/paike-1" target="_self" class="">
      拍客
      </a> 
       
      <a href="http://www.oppo.cn/news" target="_self" class="">
      动态
      </a> 
       
    </nav>
    <p class="Cb Hide"> <span class="Fr"> 
       
      <a target="_self" href="/login" rel="nofollow">登录</a> <a href="/findpwd" rel="nofollow">找回密码</a> 
       
      </span> 
       
      <a href="http://www.oppo.com/cn/" target="_blank"> 
      OPPO官网
      </a> 
       
      <a href="http://www.oppo.cn/thread-35488967-1" target="_blank"> 
      管理规定
      </a> 
       
      <a href="http://www.oppo.cn/app" target="_blank"> 
      社区APP
      </a> 
       
    </p>
  </div>
  <div class="Bot Cb Pr"> <a id="Search_Btn" class="Hide"></a>
    <form id="Search" action="/search-thread?keyword={kw}&page=1">
      <input name="keyword" placeholder="" /><button type="submit">搜索</button>
    </form>
    <a class="Logo Fl" target="_self" href="http://www.oppo.cn" title="OPPO社区"></a>
    <nav> 
       
      <a href="http://www.oppo.cn" target="_self" class="S">
         首页
      </a>
       
      <a href="http://www.oppo.cn/topic-1-1" target="_self" class="">
         话题
      </a>
       
      <a href="http://www.oppo.cn/activity-1" target="_self" class="">
         活动
      </a>
       
      <a href="http://www.oppo.cn/paike-1" target="_self" class="">
         拍客
      </a>
       
      <a href="http://www.oppo.cn/news" target="_self" class="">
         动态
      </a>
       
    </nav>
  </div>
</header>
<!-- END HEADER -->


<!--首页-->

<main class="Cb MT0"> 
  
  <!--轮播开始-->
  <div class="Roll Box">
    <p class="C"> 
       
      <a href="http://www.oppo.cn/thread-137074851-1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/common/2017/09/28/15065971652491.jpg" /></a> 
       
      <a href="http://www.oppo.cn/thread-136173445-1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/common/2017/09/27/15065123928546.jpg" /></a> 
       
      <a href="http://hd.oppo.com/act/m/2017/movie-season/index.html"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/common/2017/09/26/15064236547641.jpg" /></a> 
       
      <a href="http://www.oppo.cn/thread-135392807-1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/common/2017/09/25/15063268156384.jpg" /></a> 
       
      <a href="http://hd.oppo.com/act/m/2017/be_fun_person/index.html"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/common/2017/09/25/15063132174964.jpg" /></a> 
       
    </p>
  </div>
  <!--轮播结束--> 
  
  <!--侧边栏开始-->
  <aside class="Fr Hide"> 
    <dl class="Box">
      <dt> 热门话题 </dt>
      <dd class="Topics-Hot">
                    <p><a href="/list-147-1">#夜夜夜夜#</a></p>
                    <p><a href="/list-149-1">#像电影一样生活#</a></p>
                    <p><a href="/list-130-1">#我一个人#</a></p>
                    <p><a href="/list-126-1">#和喜欢的一切在一起#</a></p>
                  <p class="bot"><a class="C3fcab8" href="/topic-2-1">查看更多</a></p>
      </dd>
    </dl>

    <a class="Publish Box" target="_self" href="/add" rel="nofollow"><i></i>发表帖子</a> 
<div class="Pr">
  <a class="Sign Box" href="/app" rel="nofollow"> <i></i> <span>签到</span> <span class="C999 FS12">签到<b>0</b>人</span> </a>
  <p id="Sign_tip" class="Tip"><b>下载APP一键签到</b><span class="C999">连续签到7天可获得惊喜！</span></p>
</div>
<dl class="Tag Box">
  <dt>热门标签</dt>
  <dd>
  <a href="/search-thread?keyword=R11&page=1">R11</a>
  <a href="/search-thread?keyword=R9s&page=1">R9s</a>
  <a href="/search-thread?keyword=R9&page=1">R9</a>
  <a href="/search-thread?keyword=A59s&page=1">A59s</a>
  <a href="/search-thread?keyword=A57&page=1">A57</a>
  <a href="/search-thread?keyword=WIFI&page=1">WIFI</a>
  <a href="/search-thread?keyword=手机助手&page=1">手机助手</a>
  <a href="/search-thread?keyword=手机管家&page=1">手机管家</a>
  <a href="/search-thread?keyword=主题&page=1">主题</a>
  <a href="/search-thread?keyword=壁纸&page=1">壁纸</a>
  <a href="/search-thread?keyword=铃声&page=1">铃声</a>
  <a href="/search-thread?keyword=游戏&page=1">游戏</a>
  <a href="/search-thread?keyword=微信&page=1">微信</a>
  <a href="/search-thread?keyword=QQ&page=1">QQ</a>
  <a href="/search-thread?keyword=王者荣耀&page=1">王者荣耀</a>
  <a href="/search-thread?keyword=中国新歌声&page=1">中国新歌声</a>
  <a href="/search-thread?keyword=跨界歌王&page=1">跨界歌王</a>
  <a href="/search-thread?keyword=高能少年团&page=1">高能少年团</a> 
  <a href="/search-thread?keyword=奔跑吧&page=1">奔跑吧</a>
  <a href="/search-thread?keyword=杨幂&page=1">杨幂</a>
  <a href="/search-thread?keyword=李易峰&page=1">李易峰</a>
  <a href="/search-thread?keyword=杨洋&page=1">杨洋</a>
  <a href="/search-thread?keyword=TFBOYS&page=1">TFBOYS</a>
  <a href="/search-thread?keyword=王俊凯&page=1">王俊凯</a>
  <a href="/search-thread?keyword=王源&page=1">王源</a>
  <a href="/search-thread?keyword=易烊千玺&page=1">易烊千玺</a>
  <a href="/search-thread?keyword=迪丽热巴&page=1">迪丽热巴</a>
  <a href="/search-thread?keyword=陈伟霆&page=1">陈伟霆</a>
  </dd>
</dl>
<p class="Down Box"> <img class="Fl" src="picture/transparent.png" /> <span name="title"></span>
  <a class="C3fcab8 FS12" href="" name="link"></a></p>
<dl class="Box">
  <dt> 关注我们 </dt>
  <dd>
    <p class="Weibo"><i></i> <span><i></i>官方微博</span>
      <wb:follow-button uid="3278203664" type="gray_1" width="62" height="22" ></wb:follow-button>
    </p>
    <p class="Weixin"><i></i> <span><i></i>官方微信</span> <span class="C999 FS12">扫一扫</span> </p>
  </dd>
</dl> 
  </aside>
  <!--侧边栏结束-->

  <!--首页列表开始-->  
  <div class="Left">
    <dl class="Box" aj-scroll="/thread/hot/index.json" aj-param='{"page":2,"limit":20}'>
      <dt>热帖推荐</dt>
      <dd class="Trends">
        <ul class="Dn" aj-repeat="data" aj-handle="hThread" aj-id="{@data.id@}">
          <li class="Ava">
            <a class="Avatar" href="/member-{@data.uid@}-1">
              <img src="picture/transparent.png" data-src="{@data.author.avatar_url@}" alt="{@data.author.nickname@}" />
              <i class="{@data.author.is_vip.replace(0,Dn)@}"></i>
            </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-{@data.uid@}-1">{@data.author.nickname@}</a>
            <span class="Group">{@data.author.display_group_names@}</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                <a class="Follow {@data.author.is_followed@}" uid="{@data.uid@}"><i></i>{@data.author.follow_text@}</a>
                <a class="Favorite {@data.is_favorite.replace(1,Favorited)@}" aj-param='{"tid":{@data.id@}}'><i></i>收藏</a>
                <a class="Report" tid="{@data.id@}"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">{@data.dateline@}&nbsp; {@data.ext.tail@}</li>
          <li class="Des"> 
            <h2><a href="/thread-{@data.id@}-1">{@data.subject@}</a></h2>
            <p>{@data.summary@}</p>
          </li>
          <li class="Pic {@data.disImage@}">
            <a href="/thread-{@data.id@}-1"><span class="Dn N{@imglist.Index@}" aj-repeat="data.imglist"><img src="picture/transparent.png" data-src="{@imglist.path@}" alt="{@data.subject@}" /></span></a>
          </li>
          <li class="Pic {@data.disVideo@}">
            <a href="/thread-{@data.id@}-1"><span class="N0"><img src="picture/transparent.png" data-src="{@data.video.cover@}" alt="{@data.subject@}" /></span></a>
          </li>
          <li class="Bot">
            <span class="View"><i></i>{@data.browse@}</span>
            <a class="Forward" tid="{@data.id@}" author_uid="{@data.uid@}"><i></i>{@data.repost@}</a>
            <a class="Reply" tid="{@data.id@}" author_uid="{@data.uid@}"><i></i>{@data.reply@}</a>
            <a class="Praise {@data.is_praise.replace(1,Praised)@}" aj-param='{"type":0,"tid":{@data.id@},"author_uid":{@data.uid@}}'><i></i>{@data.praise@}</a>
          </li>
        </ul>

                        <ul class="BT0 MT0" aj-id="137465466">
          <li class="Ava">
            <a class="Avatar" href="/member-4887035-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/07/14/15000279507532_avatar_small.jpg" alt="琼子大人" />
              <i></i>            </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-4887035-1">琼子大人</a>
            <span class="Group">星拍客</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137465466}'><i></i>收藏</a>
                <a class="Report" tid="137465466"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">2小时前&nbsp;来自&nbsp;OPPO R9 Plus.琼子大人的男票</li>
          <li class="Des">
            <h2><a href="/thread-137465466-1"></a></h2>
            <p><a type="3" class="C3fcab8" href="/list-165-1">#向美食势力低头#</a><a type="3" class="C3fcab8" href="/list-167-1">#少女心博物馆#</a><a type="3" class="C3fcab8" href="/list-159-1">#一千种生活，一种拍照方式#</a>哈哈哈哈哈哈哈哈哈哈哈</p>
          </li>
                    <li class="Pic">
            <a href="/thread-137465466-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066678052455.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066678055848.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066678056444.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>2368</span>
            <a class="Forward" tid="137465466" author_uid="4887035"><i></i>46</a>
            <a class="Reply" tid="137465466" author_uid="4887035"><i></i>138</a>
            <a class="Praise " aj-param='{"type":0,"tid":137465466,"author_uid":4887035}'><i></i>725</a>
          </li>
        </ul>
                <ul class="" aj-id="137405839">
          <li class="Ava">
            <a class="Avatar" href="/member-28528793-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/07/09/14996057724865_avatar_small.jpg" alt="战斗系美少女CK" />
              <i></i>            </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-28528793-1">战斗系美少女CK</a>
            <span class="Group">星拍客</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137405839}'><i></i>收藏</a>
                <a class="Report" tid="137405839"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">6小时前&nbsp;来自&nbsp;OPPO R11.战斗系自拍神器</li>
          <li class="Des">
            <h2><a href="/thread-137405839-1">快来搭乘【望月】号，飞往战斗系赏月啦</a></h2>
            <p><a type="3" class="C3fcab8" href="/list-165-1">#向美食势力低头#</a><a type="3" class="C3fcab8" href="/list-148-1">#看得见的味道#</a>收到太多惊喜…先是收到OPPO中秋礼盒好用心😘还有“望月”镜，创意满满，用心十足！       接着是临时起意去琶醍的概念菜馆吃饭，看看珠江      回到家还做了最后的收拾！明天晚上准备启程啦😝</p>
          </li>
                    <li class="Pic">
            <a href="/thread-137405839-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066529598533.jpg" alt="快来搭乘【望月】号，飞往战斗系赏月啦" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066529603574.jpg" alt="快来搭乘【望月】号，飞往战斗系赏月啦" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066529607862.jpg" alt="快来搭乘【望月】号，飞往战斗系赏月啦" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>8354</span>
            <a class="Forward" tid="137405839" author_uid="28528793"><i></i>19</a>
            <a class="Reply" tid="137405839" author_uid="28528793"><i></i>402</a>
            <a class="Praise " aj-param='{"type":0,"tid":137405839,"author_uid":28528793}'><i></i>3068</a>
          </li>
        </ul>
                <ul class="" aj-id="136768441">
          <li class="Ava">
            <a class="Avatar" href="/member-70216161-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/06/11/14971704801356_avatar_small.jpg" alt="vicky-ya" />
                          </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-70216161-1">vicky-ya</a>
            <span class="Group">Lv8.硕士生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":136768441}'><i></i>收藏</a>
                <a class="Report" tid="136768441"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">09-28 01:26&nbsp;来自&nbsp;OPPO R11.反正都精彩</li>
          <li class="Des">
            <h2><a href="/thread-136768441-1"></a></h2>
            <p><a type="3" class="C3fcab8" href="/list-117-1">#九月你好#</a><a type="3" class="C3fcab8" href="/list-166-1">#元气自拍#</a><a type="3" class="C3fcab8" href="/list-159-1">#一千种生活，一种拍照方式#</a>允许我卖个萌可以吗</p>
          </li>
                              <li class="Pic Vid">
            <a href="/thread-136768441-1"><span class="N0"><img src="picture/transparent.png" data-src="http://vodfs.oppo.cn/snapshot/vodwm/20170928/HogA41012623/00001.jpg_w400.jpg" alt="" /></span></a>
          </li>
                    <li class="Bot">
            <span class="View"><i></i>1216</span>
            <a class="Forward" tid="136768441" author_uid="70216161"><i></i>5</a>
            <a class="Reply" tid="136768441" author_uid="70216161"><i></i>279</a>
            <a class="Praise " aj-param='{"type":0,"tid":136768441,"author_uid":70216161}'><i></i>1392</a>
          </li>
        </ul>
                <ul class="" aj-id="136554068">
          <li class="Ava">
            <a class="Avatar" href="/member-75035180-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/07/14/15000392404715_avatar_small.jpg" alt="CC茶茶CC" />
                          </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-75035180-1">CC茶茶CC</a>
            <span class="Group">Lv5.大专生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":136554068}'><i></i>收藏</a>
                <a class="Report" tid="136554068"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">09-27 14:42&nbsp;来自&nbsp;OPPO R11.反正都精彩</li>
          <li class="Des">
            <h2><a href="/thread-136554068-1"></a></h2>
            <p><a type="3" class="C3fcab8" href="/list-124-1">#调色慢生活#</a>新核桃 旧核桃</p>
          </li>
                    <li class="Pic">
            <a href="/thread-136554068-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/27/15064945489764.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/27/15064945475066.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/27/15064945486222.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>1040</span>
            <a class="Forward" tid="136554068" author_uid="75035180"><i></i>13</a>
            <a class="Reply" tid="136554068" author_uid="75035180"><i></i>163</a>
            <a class="Praise " aj-param='{"type":0,"tid":136554068,"author_uid":75035180}'><i></i>906</a>
          </li>
        </ul>
                <ul class="" aj-id="137116025">
          <li class="Ava">
            <a class="Avatar" href="/member-7849399-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/09/24/15062576169460_avatar_small.jpg" alt="O_拍" />
              <i></i>            </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-7849399-1">O_拍</a>
            <span class="Group">Lv12.讲师O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137116025}'><i></i>收藏</a>
                <a class="Report" tid="137116025"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">20小时前&nbsp;来自&nbsp;OPPO Find 7.支持原创，反对网盗图</li>
          <li class="Des">
            <h2><a href="/thread-137116025-1"></a></h2>
            <p><a type="3" class="C3fcab8" href="/list-117-1">#九月你好#</a><a type="3" class="C3fcab8" href="/list-153-1">#秋日私语#</a><a type="3" class="C3fcab8" href="/list-159-1">#一千种生活，一种拍照方式#</a>桂花香</p>
          </li>
                    <li class="Pic">
            <a href="/thread-137116025-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15066022807847.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15066022805881.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15066022805595.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>1057</span>
            <a class="Forward" tid="137116025" author_uid="7849399"><i></i>20</a>
            <a class="Reply" tid="137116025" author_uid="7849399"><i></i>198</a>
            <a class="Praise " aj-param='{"type":0,"tid":137116025,"author_uid":7849399}'><i></i>949</a>
          </li>
        </ul>
                <ul class="" aj-id="137373732">
          <li class="Ava">
            <a class="Avatar" href="/member-59654226-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/09/06/15047060507944_avatar_small.jpg" alt="貂蝉么么哒" />
              <i></i>            </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-59654226-1">貂蝉么么哒</a>
            <span class="Group">Lv4.高中生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137373732}'><i></i>收藏</a>
                <a class="Report" tid="137373732"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">8小时前&nbsp;来自&nbsp;OPPO R11.巴萨限量版</li>
          <li class="Des">
            <h2><a href="/thread-137373732-1"></a></h2>
            <p><a type="3" class="C3fcab8" href="/list-166-1">#元气自拍#</a><a type="3" class="C3fcab8" href="/list-167-1">#少女心博物馆#</a><a type="3" class="C3fcab8" href="/list-163-1">#好看的小姐姐都在这#</a>你以为世界抛弃了你 其实世界根本没空搭理你</p>
          </li>
                    <li class="Pic">
            <a href="/thread-137373732-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066471447719.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066471449744.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>3534</span>
            <a class="Forward" tid="137373732" author_uid="59654226"><i></i>18</a>
            <a class="Reply" tid="137373732" author_uid="59654226"><i></i>308</a>
            <a class="Praise " aj-param='{"type":0,"tid":137373732,"author_uid":59654226}'><i></i>2330</a>
          </li>
        </ul>
                <ul class="" aj-id="137334957">
          <li class="Ava">
            <a class="Avatar" href="/member-76089956-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/08/14/15026941456498_avatar_small.jpg" alt="Mr倪9" />
                          </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-76089956-1">Mr倪9</a>
            <span class="Group">Lv4.高中生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137334957}'><i></i>收藏</a>
                <a class="Report" tid="137334957"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">9小时前&nbsp;来自&nbsp;OPPO R9s.这一刻 更清晰</li>
          <li class="Des">
            <h2><a href="/thread-137334957-1"></a></h2>
            <p>月底就剁手啊？心拔凉拔凉滴！</p>
          </li>
                    <li class="Pic">
            <a href="/thread-137334957-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066427611237.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066427619054.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066427611442.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>1096</span>
            <a class="Forward" tid="137334957" author_uid="76089956"><i></i>11</a>
            <a class="Reply" tid="137334957" author_uid="76089956"><i></i>314</a>
            <a class="Praise " aj-param='{"type":0,"tid":137334957,"author_uid":76089956}'><i></i>1476</a>
          </li>
        </ul>
                <ul class="" aj-id="137124775">
          <li class="Ava">
            <a class="Avatar" href="/member-12915853-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/05/26/14957824055729_avatar_small.jpg" alt="Soso筱筱" />
              <i></i>            </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-12915853-1">Soso筱筱</a>
            <span class="Group">星拍客</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137124775}'><i></i>收藏</a>
                <a class="Report" tid="137124775"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">20小时前&nbsp;来自&nbsp;OPPO R7 Plus.我笑，便面如春花</li>
          <li class="Des">
            <h2><a href="/thread-137124775-1"></a></h2>
            <p><a type="3" class="C3fcab8" href="/list-117-1">#九月你好#</a><a type="3" class="C3fcab8" href="/list-168-1">#岁月如歌#</a><a type="3" class="C3fcab8" href="/list-153-1">#秋日私语#</a>一只猫的秋日私语<a type="1" class="C3fcab8" href="/member-6600752-1" uid="6600752">@瀧舞晨曦</a> </p>
          </li>
                    <li class="Pic">
            <a href="/thread-137124775-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15066045826692.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15066045819506.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15066045813795.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>5320</span>
            <a class="Forward" tid="137124775" author_uid="12915853"><i></i>48</a>
            <a class="Reply" tid="137124775" author_uid="12915853"><i></i>921</a>
            <a class="Praise " aj-param='{"type":0,"tid":137124775,"author_uid":12915853}'><i></i>9656</a>
          </li>
        </ul>
                <ul class="" aj-id="137173257">
          <li class="Ava">
            <a class="Avatar" href="/member-5014179-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/09/21/15059914263432_avatar_small.jpg" alt="固执的小猪" />
              <i></i>            </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-5014179-1">固执的小猪</a>
            <span class="Group">Lv9.博士生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137173257}'><i></i>收藏</a>
                <a class="Report" tid="137173257"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">17小时前&nbsp;来自&nbsp;OPPO R9.削你只是我心情问题</li>
          <li class="Des">
            <h2><a href="/thread-137173257-1"></a></h2>
            <p><a type="3" class="C3fcab8" href="/list-117-1">#九月你好#</a><a type="3" class="C3fcab8" href="/list-159-1">#一千种生活，一种拍照方式#</a>偶遇一场浮华，我希望相遇能够简单点，堪不破终究如梦将醒，惊心！</p>
          </li>
                    <li class="Pic">
            <a href="/thread-137173257-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066151182657.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066151188283.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/29/15066151182526.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>1731</span>
            <a class="Forward" tid="137173257" author_uid="5014179"><i></i>51</a>
            <a class="Reply" tid="137173257" author_uid="5014179"><i></i>802</a>
            <a class="Praise " aj-param='{"type":0,"tid":137173257,"author_uid":5014179}'><i></i>3650</a>
          </li>
        </ul>
                <ul class="" aj-id="137149111">
          <li class="Ava">
            <a class="Avatar" href="/member-74182749-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/09/29/15066576176178_avatar_small.jpg" alt="喜双双" />
              <i></i>            </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-74182749-1">喜双双</a>
            <span class="Group">Lv3.初中生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137149111}'><i></i>收藏</a>
                <a class="Report" tid="137149111"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">18小时前&nbsp;来自&nbsp;OPPO R11.反正都精彩</li>
          <li class="Des">
            <h2><a href="/thread-137149111-1"></a></h2>
            <p>真希望是一个小孩 无忧无虑 多么快乐</p>
          </li>
                    <li class="Pic">
            <a href="/thread-137149111-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15066107717061.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15066107711684.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15066107717091.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>1010</span>
            <a class="Forward" tid="137149111" author_uid="74182749"><i></i>16</a>
            <a class="Reply" tid="137149111" author_uid="74182749"><i></i>306</a>
            <a class="Praise " aj-param='{"type":0,"tid":137149111,"author_uid":74182749}'><i></i>1808</a>
          </li>
        </ul>
                <ul class="" aj-id="137155708">
          <li class="Ava">
            <a class="Avatar" href="/member-18619723-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/08/31/15041891823702_avatar_small.jpg" alt="Ma-Li" />
                          </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-18619723-1">Ma-Li</a>
            <span class="Group">Lv4.高中生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137155708}'><i></i>收藏</a>
                <a class="Report" tid="137155708"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">17小时前&nbsp;来自&nbsp;OPPO N3.天生会转</li>
          <li class="Des">
            <h2><a href="/thread-137155708-1"></a></h2>
            <p><a type="3" class="C3fcab8" href="/list-147-1">#夜夜夜夜#</a>🍂 人皆俗人 都不是神 颠不了众生</p>
          </li>
                    <li class="Pic">
            <a href="/thread-137155708-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15066127151905.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15066127151910.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15066127153467.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>1284</span>
            <a class="Forward" tid="137155708" author_uid="18619723"><i></i>22</a>
            <a class="Reply" tid="137155708" author_uid="18619723"><i></i>585</a>
            <a class="Praise " aj-param='{"type":0,"tid":137155708,"author_uid":18619723}'><i></i>2571</a>
          </li>
        </ul>
                <ul class="" aj-id="135772613">
          <li class="Ava">
            <a class="Avatar" href="/member-84330002-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/09/28/15066067402893_avatar_small.jpg" alt="美食日记" />
                          </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-84330002-1">美食日记</a>
            <span class="Group">Lv3.初中生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":135772613}'><i></i>收藏</a>
                <a class="Report" tid="135772613"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">09-25 18:30&nbsp;来自&nbsp;OPPO R9s Plus.这一刻 更清晰</li>
          <li class="Des">
            <h2><a href="/thread-135772613-1"></a></h2>
            <p>金灿灿好吃又美腻的玉米烙[表情]</p>
          </li>
                              <li class="Pic Vid">
            <a href="/thread-135772613-1"><span class="N0"><img src="picture/transparent.png" data-src="http://vodfs.oppo.cn/snapshot/vodwmh/20170925/k1R3He183029/00001.jpg_w400.jpg" alt="" /></span></a>
          </li>
                    <li class="Bot">
            <span class="View"><i></i>2066</span>
            <a class="Forward" tid="135772613" author_uid="84330002"><i></i>35</a>
            <a class="Reply" tid="135772613" author_uid="84330002"><i></i>386</a>
            <a class="Praise " aj-param='{"type":0,"tid":135772613,"author_uid":84330002}'><i></i>3842</a>
          </li>
        </ul>
                <ul class="" aj-id="137052974">
          <li class="Ava">
            <a class="Avatar" href="/member-73366438-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/08/23/15034289964625_avatar_small.jpg" alt="矢予穗77" />
              <i></i>            </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-73366438-1">矢予穗77</a>
            <span class="Group">Lv8.硕士生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137052974}'><i></i>收藏</a>
                <a class="Report" tid="137052974"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">09-28 15:14&nbsp;来自&nbsp;OPPO R11.让生活更精彩！</li>
          <li class="Des">
            <h2><a href="/thread-137052974-1"></a></h2>
            <p>今天刚刚收到礼盒，就迫不及待的打开了，然后马上拍了开箱照。实在是太精美了，不但月饼很精致，还有一个非常特别的礼物就是OPPO望远镜！看来中秋赏月，可以用起来了！ 我七月份买的OPPOr11，然后加入了这群体，有摄影群，玩机群，粉丝群，还有OPPO社区，我之前从来不是什么粉，诺基亚，三星，摩托罗拉，H...</p>
          </li>
                    <li class="Pic">
            <a href="/thread-137052974-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065828646894.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065828649746.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065828645628.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>1924</span>
            <a class="Forward" tid="137052974" author_uid="73366438"><i></i>33</a>
            <a class="Reply" tid="137052974" author_uid="73366438"><i></i>355</a>
            <a class="Praise " aj-param='{"type":0,"tid":137052974,"author_uid":73366438}'><i></i>2214</a>
          </li>
        </ul>
                <ul class="" aj-id="136751258">
          <li class="Ava">
            <a class="Avatar" href="/member-40248178-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/040/24/81/78_avatar_small.jpg?v=2" alt="玲琚璃" />
                          </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-40248178-1">玲琚璃</a>
            <span class="Group">Lv8.硕士生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":136751258}'><i></i>收藏</a>
                <a class="Report" tid="136751258"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">09-28 00:29&nbsp;来自&nbsp;OPPO R9s.这一刻 更清晰</li>
          <li class="Des">
            <h2><a href="/thread-136751258-1"></a></h2>
            <p>静美……</p>
          </li>
                    <li class="Pic">
            <a href="/thread-136751258-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065297797809.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065297797703.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065297794067.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>779</span>
            <a class="Forward" tid="136751258" author_uid="40248178"><i></i>37</a>
            <a class="Reply" tid="136751258" author_uid="40248178"><i></i>380</a>
            <a class="Praise " aj-param='{"type":0,"tid":136751258,"author_uid":40248178}'><i></i>1972</a>
          </li>
        </ul>
                <ul class="" aj-id="136888540">
          <li class="Ava">
            <a class="Avatar" href="/member-62742322-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/062/74/23/22_avatar_small.jpg?v=1" alt="蝶无梦" />
                          </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-62742322-1">蝶无梦</a>
            <span class="Group">Lv8.硕士生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":136888540}'><i></i>收藏</a>
                <a class="Report" tid="136888540"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">09-28 07:28&nbsp;来自&nbsp;OPPO R9s Plus.这一刻 更清晰</li>
          <li class="Des">
            <h2><a href="/thread-136888540-1"></a></h2>
            <p><a type="3" class="C3fcab8" href="/list-141-1">#植物日记#</a><a type="3" class="C3fcab8" href="/list-108-1">#花都开好了#</a><a type="3" class="C3fcab8" href="/list-159-1">#一千种生活，一种拍照方式#</a></p>
          </li>
                    <li class="Pic">
            <a href="/thread-136888540-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065548942556.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065548958886.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065548944186.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>707</span>
            <a class="Forward" tid="136888540" author_uid="62742322"><i></i>40</a>
            <a class="Reply" tid="136888540" author_uid="62742322"><i></i>291</a>
            <a class="Praise " aj-param='{"type":0,"tid":136888540,"author_uid":62742322}'><i></i>1641</a>
          </li>
        </ul>
                <ul class="" aj-id="136471629">
          <li class="Ava">
            <a class="Avatar" href="/member-32808654-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/09/29/15066452097536_avatar_small.jpg" alt="倚窗听萧雨" />
              <i></i>            </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-32808654-1">倚窗听萧雨</a>
            <span class="Group">Lv10.博士后O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":136471629}'><i></i>收藏</a>
                <a class="Report" tid="136471629"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">09-27 09:33&nbsp;来自&nbsp;OPPO R9.臻美自拍</li>
          <li class="Des">
            <h2><a href="/thread-136471629-1"></a></h2>
            <p><a type="3" class="C3fcab8" href="/list-153-1">#秋日私语#</a><a type="3" class="C3fcab8" href="/list-140-1">#用手机记录生活#</a><a type="3" class="C3fcab8" href="/list-119-1">#你那里的天气#</a>站在山顶看风景。。。。</p>
          </li>
                    <li class="Pic">
            <a href="/thread-136471629-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/27/15064760251732.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/27/15064760255963.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/27/15064760256497.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>878</span>
            <a class="Forward" tid="136471629" author_uid="32808654"><i></i>39</a>
            <a class="Reply" tid="136471629" author_uid="32808654"><i></i>284</a>
            <a class="Praise " aj-param='{"type":0,"tid":136471629,"author_uid":32808654}'><i></i>1614</a>
          </li>
        </ul>
                <ul class="" aj-id="135658567">
          <li class="Ava">
            <a class="Avatar" href="/member-19497666-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/019/49/76/66_avatar_small.jpg?v=20" alt="何叶儿" />
              <i></i>            </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-19497666-1">何叶儿</a>
            <span class="Group">乐委会</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":135658567}'><i></i>收藏</a>
                <a class="Report" tid="135658567"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">09-25 09:59&nbsp;来自&nbsp;OPPO R9s.照片出自OPPO手机</li>
          <li class="Des">
            <h2><a href="/thread-135658567-1"></a></h2>
            <p><a type="3" class="C3fcab8" href="/list-98-1">#水果控#</a><a type="3" class="C3fcab8" href="/list-167-1">#少女心博物馆#</a><a type="3" class="C3fcab8" href="/list-117-1">#九月你好#</a></p>
          </li>
                    <li class="Pic">
            <a href="/thread-135658567-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/25/15063047922254.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/25/15063047921994.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/25/15063047926367.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>729</span>
            <a class="Forward" tid="135658567" author_uid="19497666"><i></i>39</a>
            <a class="Reply" tid="135658567" author_uid="19497666"><i></i>282</a>
            <a class="Praise " aj-param='{"type":0,"tid":135658567,"author_uid":19497666}'><i></i>1272</a>
          </li>
        </ul>
                <ul class="" aj-id="137084875">
          <li class="Ava">
            <a class="Avatar" href="/member-84655628-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/09/28/15065922366160_avatar_small.jpg" alt="HCY913" />
              <i></i>            </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-84655628-1">HCY913</a>
            <span class="Group">Lv3.初中生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137084875}'><i></i>收藏</a>
                <a class="Report" tid="137084875"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">23小时前&nbsp;来自&nbsp;OPPO R11 Plus.反正都精彩</li>
          <li class="Des">
            <h2><a href="/thread-137084875-1"></a></h2>
            <p>啊嘞啊嘞😎</p>
          </li>
                    <li class="Pic">
            <a href="/thread-137084875-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065933037958.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065933038105.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065933045153.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>4333</span>
            <a class="Forward" tid="137084875" author_uid="84655628"><i></i>18</a>
            <a class="Reply" tid="137084875" author_uid="84655628"><i></i>477</a>
            <a class="Praise " aj-param='{"type":0,"tid":137084875,"author_uid":84655628}'><i></i>2695</a>
          </li>
        </ul>
                <ul class="" aj-id="137078250">
          <li class="Ava">
            <a class="Avatar" href="/member-66491602-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/09/28/15065873627531_avatar_small.jpg" alt="提笔绘诗情" />
                          </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-66491602-1">提笔绘诗情</a>
            <span class="Group">Lv4.高中生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137078250}'><i></i>收藏</a>
                <a class="Report" tid="137078250"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">23小时前&nbsp;来自&nbsp;OPPO A57.年轻自拍</li>
          <li class="Des">
            <h2><a href="/thread-137078250-1"></a></h2>
            <p>喜欢就要得到</p>
          </li>
                    <li class="Pic">
            <a href="/thread-137078250-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065913234167.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065913238763.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065913238950.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>1459</span>
            <a class="Forward" tid="137078250" author_uid="66491602"><i></i>18</a>
            <a class="Reply" tid="137078250" author_uid="66491602"><i></i>436</a>
            <a class="Praise " aj-param='{"type":0,"tid":137078250,"author_uid":66491602}'><i></i>1768</a>
          </li>
        </ul>
                <ul class="" aj-id="137078089">
          <li class="Ava">
            <a class="Avatar" href="/member-80738812-1">
            <img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uc_server/data/avatar/2017/08/29/15039772215872_avatar_small.jpg" alt="当然是杨豆豆啦" />
                          </a>
          </li>
          <li class="Top">
            <a class="Name" href="/member-80738812-1">当然是杨豆豆啦</a>
            <span class="Group">Lv4.高中生O粉</span>
            <p class="Drop">
              <a class="More"></a>
              <span>
                                <a class="Favorite " aj-param='{"tid":137078089}'><i></i>收藏</a>
                <a class="Report" tid="137078089"><i></i>举报</a>
              </span>
            </p>
          </li>
          <li class="Tail">23小时前&nbsp;来自&nbsp;OPPO A57.年轻自拍</li>
          <li class="Des">
            <h2><a href="/thread-137078089-1"></a></h2>
            <p><a type="3" class="C3fcab8" href="/list-149-1">#像电影一样生活#</a>小逗比的我们💪💪</p>
          </li>
                    <li class="Pic">
            <a href="/thread-137078089-1">
              <span class="N0"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065912787185.jpg" alt="" /></span><span class="N1"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065912782627.jpg" alt="" /></span><span class="N2"><img src="picture/transparent.png" data-src="http://imgfs.oppo.cn/uploads/thread/attachment/2017/09/28/15065912781913.jpg" alt="" /></span>            </a>
          </li>
                              <li class="Bot">
            <span class="View"><i></i>783</span>
            <a class="Forward" tid="137078089" author_uid="80738812"><i></i>13</a>
            <a class="Reply" tid="137078089" author_uid="80738812"><i></i>201</a>
            <a class="Praise " aj-param='{"type":0,"tid":137078089,"author_uid":80738812}'><i></i>1153</a>
          </li>
        </ul>
                      </dd>
    </dl>
  </div>
  <!--首页列表结束--> 
  <!--友情链接开始--> 
  <dl class="Box Hide friendly">
    <dt>友情链接</dt>
    <dd>
            <a href="http://www.oppo.cn/search-thread?keyword=OPPO R11&page=1">OPPO R11</a>
            <a href="http://www.oppo.cn/search-thread?keyword=OPPO R9s&page=1">OPPO R9s</a>
            <a href="http://www.oppo.cn/list-11-1">Find7论坛</a>
            <a href="http://www.mumayi.com/">安卓游戏</a>
            <a href="http://www.romzj.com/">ROM之家</a>
            <a href="http://www.7to.cn/">奇兔刷机</a>
            <a href="http://www.romjd.com/">ROM基地</a>
            <a href="http://bbs.cnmo.com/">手机中国论坛</a>
            <a href="http://bbs.25pp.com/">苹果论坛</a>
            <a href="http://bbs.mfunz.com/">魔趣安卓论坛</a>
            <a href="http://bbs.ydss.cn/">移动叔叔</a>
            <a href="http://quan.ithome.com/">IT圈</a>
            <a href="http://bbs.uc.cn/">UC浏览器</a>
            <a href="http://mobile.hiapk.com/">安卓手机</a>
            <a href="http://bbs.coloros.com/">ColorOS社区</a>
          </dd>
  </dl>
  <!--友情链接结束-->
</main>
</div>
<!-- BEGIN FOOTER -->

<footer>
  <ul>
    <li class="Top">
            <a href="http://www.oppo.cn/" target="_blank">
      OPPO论坛
      </a>
            <span class="FFa MLR10">|</span>
                  <a href="http://www.oppo.cn/app" target="_blank">
      OPPO乐园
      </a>
            <span class="FFa MLR10">|</span>
                  <a href="http://www.oppo.cn/search-thread?keyword=OPPOR11&page=1" target="_blank">
      OPPOR11
      </a>
            <span class="FFa MLR10">|</span>
                  <a href="http://www.oppo.cn/search-thread?keyword=OPPOR9&page=1" target="_blank">
      OPPOR9
      </a>
                            </li>
    <li><strong name="company"></strong> ( <a name="icp" href="http://www.miitbeian.gov.cn/"></a> ) </li>
    <li id="Analytics">
      <a key ="54a21ad6efbfb03518d8f09d" logo_size="83x30" logo_type="realname" href="//www.anquan.org" ><script src="js/aq_auth.js"></script></a>
    </li>
  </ul>
</footer>
<!-- END FOOTER -->

<ul id="Bottom" class="Show">
  <li class="Down Dn"> <a name="link" class="Fr Btn Dn" href=""></a> <a target="_self" href="/login" rel="nofollow">登录</a><span class="FFa MLR10">|</span><a target="_self" href="/register" rel="nofollow">注册</a> </li>
  <li class="Sign Dn"><a class="Fr Btn">点击签到</a>您今天还没签到！</li>
  <li class="Publish Dn">
    <table width="100%">
      <tr>
                <td nowrap="nowrap" align="right"><a class="Btn" target="_self" href="/add" rel="nofollow">发帖讨论</a></td>
      </tr>
    </table>
  </li>
</ul>

<!--动态对话框开始-->
<dialog id="Report" class="Box">
  <dl>
    <dt><a class="Close">×</a>举报</dt>
    <dd>
      <form>
        <h6>举报类型:</h6>
        <p class="P Select"> <label class="Dn" aj-repeat="data">{@data.name@}</label> </p>
        <p Class="P"> <input type="text" name="message" /></p>
        <p class="TAr"><button type="submit">确定</button></p>
      </form>
    </dd>
  </dl>
</dialog>
<dialog id="Shield" class="Box">
  <dl>
    <dt><a class="Close">×</a>屏蔽该帖</dt>
    <dd>
      <form class="TAc">
          <h6></h6>
          <input type="hidden" name="topic_id" /><input type="hidden" name="page" />
          <p class="MT20"><button type="reset" class="Btn-W MR10">取消</button><button type="submit">确定</button></p>
      </form>
    </dd>
  </dl>
</dialog>
<dialog id="ShieldTa" class="Box">
  <dl>
    <dt><a class="Close">×</a>屏蔽TA</dt>
    <dd>
      <form class="TAc">
          <h6></h6>
          <p class="MT20"><button type="reset" class="Btn-W MR10">取消</button><button type="submit">确定</button></p>
      </form>
    </dd>
  </dl>
</dialog>
<dialog id="Reply" class="Box">
  <dl>
    <dt><a class="Close">×</a><span>转发</span></dt>
    <dd>
      <div class="For"> </div>
      <form class="Comment Cb">
        <div class="Container">
          <textarea name="content"></textarea>
        </div>
        <button class="Fr" type="submit">转发</button> <a class="Emot"></a> <a class="Image"></a>
      </form>
    </dd>
  </dl>
</dialog>
<dialog id="At" class="Box">
  <dl>
    <dt>@我的朋友<a class="Close">×</a></dt>
    <dd>
      <p class="P"> <input type="text" name="user" /></p>
      <p class="P Select MB0" aj-config='{"emptyShow":0}'> <label class="Dn" aj-repeat="data" name="oppo_at" title="@{@data.uid@}" href="/member-{@data.uid@}-1">@{@data.nickname@}</label> </p>
    </dd>
  </dl>
</dialog>
<dialog id="Emot" class="Box"> <a class="Close">×</a>
  <dl>
    <dt class="Tab" aj-response="rEmot"><a class="Dn" aj-repeat="type">{@type.name@}</a></dt>
    <dd>
      <div class="Dn" aj-repeat="type">
        <p aj-param='{"type_id":{@type.id@}}'> <a class="Dn" aj-repeat="data" title="{@data.name@}"><img name="oppo_smiley" src="picture/transparent.png" data-src="{@data.img_url@}" alt="{@data.label@}" /></a> </p>
      </div>
    </dd>
  </dl>
</dialog>
<dialog id="top" class="Box">
  <dl>
    <dt><a class="Close">×</a>置顶</dt>
    <dd>
      <form>
          <h6>置顶时间:</h6>
          <p class="P"><input type="text" name="start"></p>
          <h6>到</h6>
          <p class="P"><input type="text" name="end"></p>
          <h6>置顶理由</h6>
          <p class="P Select Dn"> <label class="Dn" aj-repeat="data">{@data.name@}</label> </p>
          <p class="P"> <input type="text" name="reason" /></p>
          <p class="TAr"><button type="submit">确定</button></p>
      </form>
    </dd>
  </dl>
</dialog>
<!--动态对话框结束-->

<script src="js/common.min.js"></script>
</body>
</html>