<footer class='main-footer'>
    <div class='footer-sitemap'>
    <nav class='wrapper'>
  <div class="g">
    <div class="gi lap-three-quarters">
      <ul class='g'>
    	                <li class='gi lap-one-quarter'>
          <a class='m-item' href='//www.oppo.com/cn/products' target="_blank">推荐机型</a>
          <span class="toggle js-toggle-sitemap"></span>
          <ul>
            {foreach $groom as $value}
             <li>
              <a href="{$value['url']}" target='_blank'>{$value['pname']}</a>
            </li>
            {/foreach}
            </ul>
        </li>
                <li class='gi lap-one-quarter'>
          <a class='m-item' href='//www.oppo.com/cn/service' target="_blank">服务</a>
          <span class="toggle js-toggle-sitemap"></span>
          <ul>
                        <li>
              <a href='//www.oppo.com/cn/service/map' target='_blank'>服务网点查询</a>
            </li>
                        <li>
              <a href='//www.oppo.com/cn/service/part' target='_blank'>零配件价格查询</a>
            </li>
                        <li>
              <a href='//www.oppo.com/cn/service/help/614?name=打假维权' target='_blank'>官方授权网店</a>
            </li>
                      </ul>
        </li>
                <li class='gi lap-one-quarter'>
          <a class='m-item' href='//www.oppo.com/cn/blogs' target="_blank">关于我们</a>
          <span class="toggle js-toggle-sitemap"></span>
          <ul>
                        <li>
              <a href='//www.oppo.com/cn/blogs/about' target='_blank'>关于OPPO</a>
            </li>
                        <li>
              <a href='http://career.oppo.com' target='_blank'>加入我们</a>
            </li>
                      </ul>
        </li>
                <li class='gi lap-one-quarter'>
          <a class='m-item' href='http://open.oppomobile.com/' target="_blank">商务合作</a>
          <span class="toggle js-toggle-sitemap"></span>
          <ul>
                        <li>
              <a href='http://open.oppomobile.com/' target='_blank'>开放平台</a>
            </li>
                        <li>
              <a href='//www.oppo.com/cn/service/help/605?name=sourcing' target='_blank'>采购相关</a>
            </li>
                      </ul>
        </li>
            	      </ul>
    </div>
    <div class="gi lap-one-quarter align-right">
      <div class="one-half lap-one-whole contact-online">
        <a href="http://oim.oppo.com/oim/chatClient/chatbox.jsp?companyID=8092&configID=890&enterurl=http%3A%2F%2Foim%2Emyoppo%2Ecom%2Foim%2Fpreview%2Ejsp&pagereferrer=http%3A%2F%2Foim%2Emyoppo%2Ecom%2Foim%2FembedScript%2Ejsp%3Ft%3D1517&k=1" target="_blank" class="oppo-tj" data-tj="www|chatclient|online|footer"><img src="__PICTURE__icon-online.png" alt=""></a>
      </div>
      <div class="one-half lap-one-whole contact-tel">
        <p class="contact-number">4001-666-888</p>
        <p class="contact-tips">（24小时全国服务热线）</p>
      </div>
    </div>
  </div>
</nav>  </div>

  <div class="g wrapper">
    <div class="footer-linear"></div>
  </div>

    <div class='footer-info'>
    <div class='wrapper'>
            <div class="footer-focus">
        <span class='text'>关注我们：</span>
       
        <a href='#' class='footer-focus-icon footer-focus-wechat relative'>
          <span class='icon icon-wechat'></span>
          <img src="__PICTURE__weixin.jpg" class="wx-float" alt="">
        </a>
      </div>
      <p class='copy'>© 2005 - 2017 OPPO 版权所有 <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">粤ICP备08130115号-1</a> 联系方式：4001-666-888</p>
      <a href="http://wljg.gdgs.gov.cn/corpsrch.aspx?key=441900000436441" target="_blank" title="企业名称：广东欧珀电子工业有限公司
法定代表人：金乐亲
标识状态：已激活 粤工商备E191512001248
电子标识有效期：2015-12-14～2020-12-16" class="footer-identification"></a>
      <!-- <div class='chat-structure'>
        <div class='online-chat'>
          <a href='#' id="btn-kf">
            <div class='online-chat-info'>
              <img alt='' src='__PICTURE__chat.png' />
              <div class='info'>
                <p>在线客服</p>
                <p>工作时间：08:30 - 22:00</p>
                <p>7x24小时客服电话：4001-666-888</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class='online-chat-icon'>
              <span class='icon icon-top'></span>
            </div>
          </a>
        </div>
        <a class='qr-button' id='btn-qr'>
          <div class='picture'>
            <img alt='' src='__PICTURE__qr.png' />
          </div>
        </a>
        <div class='qr-code' id='qr-code'>
          <div class='qr-image'>
            <img alt='' src='__PICTURE__wx.png' />
          </div>
          <div class='qr-description'>
            <p>扫描二维码关注</p>
            <p>OPPO官方微信</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</footer>
