<!DOCTYPE html>
<html class='no-js'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE" />
    <meta content='width=device-width,initial-scale=1, user-scalable=no' name='viewport'>
    <title>『OPPO官网商城』OPPO最新款智能手机在线购买_OPPO最新款智能手机快捷支付-OPPO智能手机官网 </title>
    <link media="all" type="text/css" rel="stylesheet" href="__CSS__styles_8.css?v=2017010100032">

   <link media="all" type="text/css" rel="stylesheet" href="__CSS__styles_6.css?v=2017010100032">
    <link media="all" type="text/css" rel="stylesheet" href="__CSS__styles_7.css?v=2017010100032">
   
    <script src="__JS__modernizr.custom.js"></script>

          </head>
  <body>
  {include file="/index/header" /}
      <main class='main-content user'>
    <div class='wrapper'>
      <ul class='breadcrumb'>
  <li>
    <a href='//www.oppo.com/cn/'>
      首页
      <span>/</span>
    </a>
  </li>
            <li>
                  我的订单
              </li>
      </ul>
      <div class='myOppo-menu'>
  <h1 class='h-gamma'>我的订单</h1>
  <ul class='navigation'>
    <li class='is-active'>
      <a >我的订单</a>
    </li>
    <li class=''>
      <a>配送地址</a>
    </li>
    <li>
      <a >账户信息</a>
    </li>
              </ul>
</div>
      <div class='g'>
                <div class='gi one-whole my-oppo-content slab-white-border order'>
          <div class='g brick-shadow order-list-top'>
  <div class='gi one-whole desk-one-half'>
    订单编号：<strong><a class='clickable order-id' href=''>171031118455130</a></strong>
  </div>
  <div class='gi one-whole desk-one-half desk-text-align-right'>
    下单时间：2017-10-31
  </div>
</div>
 
<ul class='order-list-header'>
  <li class='order-product'>商品</li>
  <li class='order-quantity'>数量</li>
  <li class='order-amount'>订单金额</li>
  <li class='order-detail'>收货信息</li>
  <li class='order-primary'>状态操作</li>
</ul>
<div class='order-list'>
  <div class='order-item order-product desk-text-align-center'>
          <a href='' target="_blank">
                 
              </a>
    
<div class='row'>
      <a href='' target="_blank">R11 玫瑰金色 旗舰爆款</a>
  </div>
      </div>
  <div class='order-item order-quantity desk-text-align-center'>
   <span class='order-desk-hide'>商品数量：</span>1
  </div>
  <div class='order-item order-amount desk-text-align-center'>
    <span class='order-desk-hide'>订单金额：</span>¥2799.00
  </div>
  <div class='order-item order-detail'>
    <div class='row order-username'>我去</div>
    <div class='row'>13412345677</div>
        <div class='row'>123141@qq.com</div>
    <div class='row'>陕西省西安市新城区胡家庙街道jdafjaoejfds</div>
          </div>
  <div class='order-item order-primary desk-text-align-center'>
    <div class='row'>订单状态：未付款</div>
        <div class='row'><a class='button button-s' href='https://www.opposhop.cn/orders/171031118455130/payments'>立即支付</a></div>
                <div class='row'><a class='button button-s' href='https://www.opposhop.cn/orders/171031118455130/show'>查看详情</a></div>

                  <div class='row'><a class='box-link' href='javascript: vm.cancel("171031118455130");'>取消订单</a></div>
            </div>
</div>
        </div>
        <div class='gi lap-three-fifths desk-three-quarters pagination-content'>
          
        </div>
      </div>


      
    </div>
  </main>
  <div id='dialog-confirm' class='hidden'>
      <div class="mask-common"></div>
      <div class="dialog-common dialog-box-common">
        <div class="dialog-container">
          <a class="dialog-close-common">×</a>
          <div class="dialog-content-common">
                        <div class="field">
              <h4 class='dialog-title-common'>您确定取消订单吗？</h4>
            </div>
                                    <div class="dialog-common-content">
                        </div>
                        <div class="field dialog-btn">
              <div class="g g-wrapper-s">
                                <div class="gi lap-one-half">
                  <a class='button button-one'>确定</a>
                </div>
                                                <div class="gi lap-one-half">
                  <a class='button-light button-two'>取消</a>
                </div>
                              </div>
            </div>
                                  </div>
        </div>
      </div>
    </div>
{include file="/index/footer" /}          
    <div class='navi-scroll'>
  <div class="navi-scroll-content">
    <a href="javascript:;" class="scroll-top-btn"><span>回到顶部</span><i></i></a>
      </div>
</div>

    <script src="__JS__jquery-1.9.1.min.js"></script>

    <script src="__JS__jquery.lazyload.min.js"></script>

    <script src="__JS__underscore-min.js"></script>

    <script src="__JS__es5-shim.min.js"></script>

    <script src="__JS__base64.min.js"></script>

    <script src="__JS__custom_form.js?v=20150914144728"></script>

    <script src="__JS__jquery.countdown.min.js"></script>

    <script src="__JS__slick.min.js"></script>

    <script src="__JS__responsive.js"></script>

    <script src="__JS__picturefill.min.js"></script>

    <script src="__JS__scripts.js?v=201511041533"></script>

        <script src="__JS__opposhop.min.js?v=2017010100032"></script>

    
  </body>
</html>
