<!DOCTYPE html>
<html class='no-js'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE" />
    <meta content='width=device-width,initial-scale=1, user-scalable=no' name='viewport'>
    <title>『OPPO官网商城』OPPO最新款智能手机在线购买_OPPO最新款智能手机快捷支付-OPPO智能手机官网 </title>
    <link media="all" type="text/css" rel="stylesheet" href="__CSS__styles_8.css?v=2017010100032">

   <link media="all" type="text/css" rel="stylesheet" href="__CSS__styles_6.css?v=2017010100032">
    <link media="all" type="text/css" rel="stylesheet" href="__CSS__styles_7.css?v=2017010100032">
     <script src="__JS__jquery-1.9.1.min.js"></script>

    <script src="__JS__jquery.lazyload.min.js"></script>

    <script src="__JS__underscore-min.js"></script>

    <script src="__JS__es5-shim.min.js"></script>

    <script src="__JS__base64.min.js"></script>

    <script src="__JS__custom_form.js?v=20150914144728"></script>

    <script src="__JS__jquery.countdown.min.js"></script>

    <script src="__JS__slick.min.js"></script>

    <script src="__JS__responsive.js"></script>

    <script src="__JS__picturefill.min.js"></script>

    <script src="__JS__scripts.js?v=201511041533"></script>

        <script src="__JS__opposhop.min.js?v=2017010100032"></script>

    <script src="__JS__modernizr.custom.js"></script>

          </head>
  <body>
  {include file="/index/header" /}
      <main class='main-content user'>
    <div class='wrapper'>
      <ul class='breadcrumb'>
  <li>
    <a href='/index/index/index'>
      首页
      <span>/</span>
    </a>
  </li>
            <li>
                  我的订单
              </li>
      </ul>
      <div class='myOppo-menu'>
  <h1 class='h-gamma'>我的订单</h1>
  <ul class='navigation'>
    <li class='is-active'>
      <a href="/index/index/myoppo">我的订单</a>
    </li>
    <li class=''>
      <a href="/index/index/address">配送地址</a>
    </li>
    <li>
      <a href="/index/index/info" target="_blank">账户信息</a>
    </li>
              </ul>
</div>
      <div class='g'>
        {foreach $indent as $values}
                <div class='gi one-whole my-oppo-content slab-white-border order'>
          <div class='g brick-shadow order-list-top'>
  <div class='gi one-whole desk-one-half'>
    订单编号：<strong><a class='clickable order-id' href=''>{$values['oid']}</a></strong>
  </div>
  <div class='gi one-whole desk-one-half desk-text-align-right'>
    下单时间：{$values['create_time']}
  </div>
</div>
 
<ul class='order-list-header'>
  <li class='order-product'>商品</li>
  <li class='order-quantity'>数量</li>
  <li class='order-amount'>订单金额</li>
  <li class='order-detail'>收货信息</li>
  <li class='order-primary'>状态操作</li>
</ul>
{foreach $ingoods as $value}
{if $values['oid']==$value['oid']}
<div class='order-list' style="height: 200px; overflow: hidden;">
  <div class='order-item order-product desk-text-align-center'>
          <a href='' target="_blank">
                 
              </a>
{foreach $goods as $val} 
{if $val['oid'] == $values['oid']}  
<div class='row' >

      <h4 >{$val['name']} {$val['color']}</h4>
  </div>
{else}
<div class='row'>
      <h2 ></h2>
  </div>
{/if}
{/foreach}
      </div>
  <div class='order-item order-quantity desk-text-align-center'>
   <span class='order-desk-hide'>商品数量：</span>{$value['count']}
  </div>
  <div class='order-item order-amount desk-text-align-center'>
    <span class='order-desk-hide'>订单金额：</span>¥{$value['total']}.00
  </div>
  <div class='order-item order-detail'>
    <div class='row order-username'>{$value['receiver']}</div>
    <div class='row'>{$value['tel']}</div>
        <div class='row'>{$value['email']}</div>
    <div class='row'>{$value['address_detail']}</div>
          </div>
  <div class='order-item order-primary desk-text-align-center'>
    {if $values['status'] == 0}
    <div class='row'>订单状态：未发货</div>
    {/if}
    {if $values['status'] == 1}
    <div class='row'>订单状态：已经发货</div>
    {/if}
     {if $values['status'] == 2}
     <div class='row'>订单状态：商品已到达</div>
     {/if}
     {if $values['status'] == 3}
     <div class='row'>订单状态：商品已签收</div>
    {/if}

     {if $values['status'] == 4}
     <div class='row'>订单状态：订单已取消</div>
    {/if}
     {if $values['is_pay'] == 0}
        <div class='row'><a class='button button-s' href="/index/shop/payfor/getid/{$value['oid']}">立即支付</a></div>
    {/if}
    {if $values['status'] == 0}
         <div class='row'><a class='button button-s' >已支付</a></div>
    {/if}
     {if $values['status'] == 1}
         <div class='row'><a class='button button-s' >在路上</a></div>
    {/if}
    {if $values['status'] == 2}
         <div class='row' id="{$values['id']}" ><a class='button button-s'>签收</a></div>
    {/if}
     {if $values['status'] == 3}
         <div class='row'  ><a class='button button-s'>已签收</a></div>
    {/if}
     {if $values['status'] == 4} 
     
         <div class='row' ><a class='button button-s'>订单已取消</a></div>
    {/if} 
     {if $values['status'] != 4 && $values['status'] != 3 && $values['status'] != 2} 
     
      <div class='row' id="{$values['oid']}"  ><a class='box-link' >取消订单</a></div>          
      {/if}          
   </div>
             
    <script type="text/javascript">
      $("#{$values['id']}").click(function () {
        var id = $(this).attr('id');
        var oid = {$values['oid']};
         $.ajax({
          type:"post",    
          url:"/index/index/subQian",    
          dataType: 'json',
          async : true,
          data: {id:id,status:3}, 
          success:qianshou
        });
         function qianshou(data)
         {
          //console.log(data); 
         
         }
         $('#qian').removeClass('hidden');
      })
     /* $('#sure').click(function () {
         $('#qian').addClass('hidden');
      })*/
    </script>
    <script type="text/javascript">
       $("#{$values['oid']}").click(function () {
        var oid = $(this).attr('id');
         $.ajax({
          type:"post",    
          url:"/index/index/subCancle",    
          dataType: 'json',
          async : true,
          data: {oid:oid,status:4}, 
          success:cancle
        });
         function cancle(data)
         {
          //console.log(data); 
         
         }
         $('#cancle').removeClass('hidden');
      })

    </script>
</div>
{/if}
{/foreach}
        </div>
  {/foreach}
        <div class='gi lap-three-fifths desk-three-quarters pagination-content'>
          
        </div>
      </div>


      
    </div>
  </main>
 <div id='qian' class='hidden'>
      <div class="mask-common"></div>
      <div class="dialog-common dialog-box-common">
        <div class="dialog-container">
          <a class="dialog-close-common">×</a>
          <div class="dialog-content-common">
                        <div class="field">
              <h4 class='dialog-title-common'>签收订单成功</h4>
            </div>
                                    <div class="dialog-common-content">
                        </div>
                        <div class="field dialog-btn">
        
                              </div>
            </div>
                                  </div>
        </div>
      </div>
       <div id='cancle' class='hidden'>
      <div class="mask-common"></div>
      <div class="dialog-common dialog-box-common">
        <div class="dialog-container">
          <a class="dialog-close-common">×</a>
          <div class="dialog-content-common">
                        <div class="field">
              <h4 class='dialog-title-common'>订单取消成功</h4>
            </div>
                                    <div class="dialog-common-content">
                        </div>
                        <div class="field dialog-btn">
        
                              </div>
            </div>
                                  </div>
        </div>
      </div>
    </div>
    
{include file="/index/footer" /}          
    <div class='navi-scroll'>
  <div class="navi-scroll-content">
    <a href="javascript:;" class="scroll-top-btn"><span>回到顶部</span><i></i></a>
      </div>
</div>

  

  </body>
</html>
