<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<html class='no-js'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE" />
    <meta content='width=device-width,initial-scale=1, user-scalable=no' name='viewport'>
    <title>『OPPO官网商城』OPPO最新款智能手机在线购买_OPPO最新款智能手机快捷支付-OPPO智能手机官网 </title>
    <meta name="keywords" content="OPPO最新款智能手机在线订购,OPPO最新款智能手机在线购买,OPPO最新款智能手机快捷支付 " />
    <meta name="description" content="OPPO官网商城首页为您提供OPPO最新款智能手机在线订购,OPPO最新款智能手机在线购买,OPPO最新款智能手机快捷支付等信息,多种OPPO智能手机任您选择与订购,智能手机网上购买尽在OPPO官网。 " />
    <link media="all" type="text/css" rel="stylesheet" href="css/styles_4.css">

    <script type="text/javascript">
		function checkBrowser(){
			var browser = {};
			var div = document.createElement( "div" );
			div.innerHTML = "<link/><table></table><a href='/a'>a</a><input type='checkbox'/>";
            var a = div.getElementsByTagName( "a" )[0];
			style = a && a.style;
			if (!style) {
				return;
			}
			style.cssText = "float:left;opacity:.5";
			// Support: IE<9
			// Make sure that element opacity exists (as opposed to filter)
			browser.opacity = style.opacity === "0.5";
			// Verify style float existence
			// (IE uses styleFloat instead of cssFloat)
			browser.cssFloat = !!style.cssFloat;
			if(browser.opacity && browser.cssFloat){
				return true;
			}else{
                //IE 8测试
                var userAgent = navigator.userAgent.toLocaleUpperCase();
                var msie = /MSIE [\d\.]+/;
                var version = msie.exec(userAgent);
                if (version<"MSIE 8") return false;
                else return true;
			}
		}
        var v = checkBrowser();
		if (!v) {
			window.location.href = "http://www.opposhop.cn/lower.html";
		}
    </script>
    <!--[if lt IE 9]>
      <link media="all" type="text/css" rel="stylesheet" href="css/styles_5.css">

      <script src="js/html5shiv.js"></script>

      <script src="js/respond.min.js"></script>

      <script src="js/selectivizr-min.js"></script>

      <link media="all" type="text/css" rel="stylesheet" href="css/ie_2.css">

    <![endif]-->
    <script src="js/modernizr.custom.js"></script>

          <script>
    NTKF_PARAM = {
        siteid: "kf_9568",
        settingid: "kf_9568_1493698078342",
        uid:"",
        uname:"",
        isvip: "0",
        userlevel: "1",
        erpparam: "abc",
        itemid:"",
        itemparam:""
    };
  </script>
  </head>
  <body>
  <header class='main-header'>
  <div class='upper-area'>
    <div class='wrapper g'>
                  <ul class='gi log-area'>
    <li class='gi hidden hasLogin' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area'>
      <a href='//www.opposhop.cn/orders'>
        <span class='text'>我的OPPO</span>
        <span class='icon icon-messages'></span>
        <span class='n-messages'>(0)</span>
      </a>
    </li>
    <li class='gi hidden hasLogin' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area'>
      <a class='logout sso-logout' href='javascript:void(0)'>退出</a>
    </li>
    <li class='gi hasLogout' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area'>
      <a class="sso-login" href='javascript:void(0)'>
        登录
      </a>
    </li>
    <li class='gi hasLogout' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area'>
      <a class="sso-register" href='javascript:void(0)'>
        注册
      </a>
    </li>
    </ul>      <ul class='gi menu-lang'>
  <li class='gi gi-language' data-desktop='.menu-lang' data-mobile='.main-menu nav .nav-ul-view > ul'>
    <a class='lang-link js-toggle-close' href='#'>Global</a>
    <div class='languages js-content' data-desktop='.gi-language' data-mobile='.languages-panel'>
      <div class='wrapper'>
        <h3 class='h-epsilon'>Select your country or region</h3>
        <ul>
          <li>
          <a  href='http://www.oppo.com/dz/'>Algérie</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/au/'>Australia</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/bd/'>Bangladesh</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/eg/'>Egypt</a>
          </li>
          <li>
          <a href='http://www.oppo.com/en/'>Global</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/in/'>India</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/id/'>Indonesia</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/ke/'>Kenya</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/my/'>Malaysia</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/ma/'>Maroc</a>
          </li>
          <!-- <li>
          <a  href='http://www.oppo.com/mx/'>México</a>
          </li> -->
          <!-- <li>
          <a  href='http://www.oppo.com/ng/'>Nigeria</a>
          </li> -->
          <li>
          <a  href='http://www.oppo.com/pk/'>Pakistan</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/ph/'>Philippines</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/sg/'>Singapore</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/lk/'>Sri Lanka</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/tw/'>台灣</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/ae/'>UAE</a>
          </li>
          <li>
          <a  href='http://www.oppomobile.vn/'>Việt Nam</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/th/'>ประเทศไทย</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/mm/'>Myanmar</a>
          </li>
          <li>
          <a  class='current'  href='http://www.oppo.com/cn/'>中国</a>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>    </div>
  </div>
  <div class='bottom-area'>
    <div class='wrapper'>
      <a class='js-open-menu' href='#'>
        <i class='js-open-menu-bar'></i>
      </a>
      <div class='shop-cart'>
  <a href='http://www.opposhop.cn/cart'>
        <span class='icon icon-cart'></span>
    <span class='n-item-cart cart_number' id="shopping-count">0</span>
  </a>
</div>      <div class='logo logo-extend'>
        <a href='//www.oppo.com/cn/'>
          <img src="picture/logo.svg" alt="">
        </a>
        <!-- <a class="logo-special oppo-tj"  data-tj="www|img|revision|special-logo">
          <img src="picture/qixi-logo.gif" />
        </a> -->
        <!-- <a class="logo-special oppo-tj"  data-tj="www|img|revision|special-logo">
          <img src="picture/monkey-logo.gif" />
        </a> -->
      </div>
      <a class='js-open-user' href='#'>
        <img src="picture/icon-menu-user.png" alt="">
      </a>
      <div class='main-menu'>
        <!-- <div class='mobile-tools'>
          <a class='js-close-menu' href='#'>
            <img alt='' src='picture/icon-menu-close.png' />
          </a>
          <ul class='g log-area'></ul>
        </div> -->
        <div class='search'></div>
        <nav>
  <div class='nav-ul-view'>
  <ul class='menu g'>
    <li class='gi
    '>
      <a class='m-item' href='//www.oppo.com/cn/'>
        <span>首页</span>
      </a>
    </li>
    <li class='gi'>
      <a class='m-item' href='//www.oppo.com/cn/products.html'>
        <span>产品</span>
      </a>
    </li>
                                <li class='gi
        is-active
        '>
      <a class='m-item' id='storeLink' href='//www.opposhop.cn' data-hd-url='http://hd.oppo.com/act/2016/1001/index.html'>
        <span>商城</span>
              </a>
          </li>
    <li class='gi'>
      <a class='m-item' href='//www.oppo.com/cn/shops'>
        体验店
      </a>
    </li>
    <li class='gi'>
      <a class='m-item' href='//www.oppo.com/cn/service.html'>
        服务
              </a>
    </li>
          <li class='gi'>
      <a class='m-item' href='http://www.coloros.com/' target="_blank">
        ColorOS
      </a>
    </li>
    <li class='gi'>
      <a class='m-item  oppo-tj' href='http://www.oppo.cn/' target="_blank"   data-tj="opposhop|out|link|shequ">
        社区
      </a>
    </li>
    <li class='gi'>
      <a class='m-item' href='http://yun.oppo.com/' target="_blank">
        云服务
      </a>
    </li>
  </ul>
  </div>

</nav>
      </div>
      <div class='user-menu'>
<div class='relative'>
  <ul>
    <li class='user-menu-login'>
      <a href="//www.opposhop.cn/orders">我的订单</a>
    </li>
    <li class='user-menu-login'>
      <a href="https://id.oppo.com/account/profile">账户信息</a>
    </li>
    <li class='user-menu-login'>
      <a href="//www.opposhop.cn/user/addresses">配送地址</a>
    </li>
    <li class='user-menu-login user-menu-cart'>
      <a href="//www.opposhop.cn/cart">购物车</a>
    </li>
    <li class='user-menu-login user-menu-toLogin'>
      <a class="sso-login" href='javascript:void(0)'>
        登录
      </a>
    </li>
    <li class='user-menu-logout'>
      <a class="sso-logout" href='javascript:void(0)'>退出</a>
    </li>
  </ul>
</div>
</div>    </div>
  </div>
  <div class='nav-sub-menu'>
  <div class='relative'></div>
</div>
<div class='nav-search-mask'></div>
<div class='nav-search'>
  <div class='nav-search-container'>
    <div class='nav-search-content'>
      <div class='nav-search-input'>
        <form action='//www.opposhop.cn/products' class='main-form'>
          <input placeholder='搜索OPPO商品' type='text' name="q">
          <button class='button' type='submit'>搜索</button>
          <a href='#' class='nav-search-close'>取消</a>
        </form>
      </div>
    </div>
  </div>
</div>  <div class="languages-panel"></div>
</header>
      <main class='main-content slab-white'>
        <div class='full-carousel slick-dot-circle'>
      <div class='hero slick-slide'>
  <div class='hero-image center'>
      <a  href='http://hd.oppo.com/act/2017/0919/index.html' target='_blank' title='王者峡谷狂欢周'>
    <picture>
      <!--[if IE 9]> <video style="display: none;"> <![endif]-->
      <source media='(min-width: 990px)' srcset='//static.oppo.com/archives/201709/2017092509093159c8628b634dc.jpg' />
      <source media='(min-width: 750px)' srcset='//static.oppo.com/archives/201709/2017092509093559c8628f22f13.jpg' />
      <source media='(min-width: 300px)' srcset='//static.oppo.com/archives/201709/2017092509094259c862965afbe.jpg' />
      <!--[if IE 9]> </video> <![endif]-->
      <img alt='王者峡谷狂欢周' title='王者峡谷狂欢周' src='picture/2017092509094259c862965afbe.jpg'  srcset='//static.oppo.com/archives/201709/2017092509093159c8628b634dc.jpg'>
    </picture>
    </a>
  </div>
</div>
    </div>
    <section class='brick-m'>
      <div class='wrapper'>
                <div class='grid-special equalize top-bar'>
          <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/425.html' title="">
          <div class='box-photo'>
                  <img alt='' title="R11 巴萨限量版" src='picture/20170809030807598abc1be49ba.png'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/425.html' title="R11 巴萨限量版">R11 巴萨限量版 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥3499.00</strong>
        </p>
                      </div>
        <i class="ribbon  ribbon-new   "></i>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/412.html' title="">
          <div class='box-photo'>
                  <img alt='' title="R11 玫瑰金色 旗舰爆款" src='picture/20170531080557592eba8d4e055.png'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/412.html' title="R11 玫瑰金色">R11 玫瑰金色 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price box-price-offer'>
          <span class='normal'>￥2999.00</span>
          <strong class='reduced'>￥2799.00</strong>
        </p>
                      </div>
        <i class="ribbon    ribbon-cheap "></i>
            <!-- 折扣、促销标签
    <div class='box-features'>
              <div class='box-feature red'>
          <span class='icon icon-percentage'></span>
        </div>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/415.html' title="">
          <div class='box-photo'>
                  <img alt='热力红' title="R11 热力红  旗舰爆款" src='picture/20170612010616593e2b2044eae.png'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/415.html' title="R11 热力红  旗舰爆款">R11 热力红  旗舰爆款 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price box-price-offer'>
          <span class='normal'>￥3199.00</span>
          <strong class='reduced'>￥2999.00</strong>
        </p>
                      </div>
            <!-- 折扣、促销标签
    <div class='box-features'>
              <div class='box-feature red'>
          <span class='icon icon-percentage'></span>
        </div>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/419.html' title="">
          <div class='box-photo'>
                  <img alt='' title="R11 Plus 玫瑰金色" src='picture/20170622070624594ba9d8be245.jpg'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/419.html' title="R11 Plus 玫瑰金色">R11 Plus 玫瑰金色 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥3699.00</strong>
        </p>
                      </div>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/433.html' title="">
          <div class='box-photo'>
                  <img alt='' title="A77  玫瑰金色  3GB+32GB  9月29日10点开售" src='picture/2017092002091959c204a74108d.png'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/433.html' title="A77  玫瑰金色  3GB+32GB  新品开售">A77  玫瑰金色  3GB+32GB  新品开售 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥1799.00</strong>
        </p>
                      </div>
        <i class="ribbon  ribbon-new   "></i>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/426.html' title="">
          <div class='box-photo'>
                  <img alt='' title="A59s 黑色 新品上市" src='picture/20170811040807598d6533c656e.png'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/426.html' title="A59s 黑色 1600万金属自拍神器">A59s 黑色 1600万金属自拍神器 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥1799.00</strong>
        </p>
                      </div>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/397.html' title="">
          <div class='box-photo'>
                  <img alt='' title="A57 玫瑰金 1600万美颜自拍" src='picture/2016120610125258462624378c0.png'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/397.html' title="A57 玫瑰金 1600万美颜自拍">A57 玫瑰金 1600万美颜自拍 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥1399.00</strong>
        </p>
                      </div>
        <i class="ribbon    ribbon-cheap "></i>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/368.html' title="">
          <div class='box-photo'>
                  <img alt='' title="A37金  留住美一刻" src='picture/20170717110734596c29ba79961.png'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/368.html' title="A37金  留住美一刻">A37金  留住美一刻 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥1199.00</strong>
        </p>
                      </div>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
          </div>
      </div>
    </section>
    <section class='brick-m'>
      <div class='wrapper'>
        <div class='grid-special equalize top-bar'>
          <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/385.html' title="VOOC闪充电源适配器">
          <div class='box-photo'>
                  <img alt='VOOC闪充电源适配器' title="VOOC闪充电源适配器 AK779" src='picture/20160711020757fxfnmpjkbjqn5t1l.jpg'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/385.html' title="VOOC闪充电源适配器 AK779">VOOC闪充电源适配器 AK779 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥79.00</strong>
        </p>
                      </div>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/323.html' title="OPPO原装电源适配器">
          <div class='box-photo'>
                  <img alt='OPPO原装电源适配器' title="原装电源适配器 CF1001" src='picture/20150908050910f4x0lgzqo5h5znki.jpg'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/323.html' title="原装电源适配器 CF1001">原装电源适配器 CF1001 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥19.00</strong>
        </p>
                      </div>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/234.html' title="VOOC闪充USB数据线">
          <div class='box-photo'>
                  <img alt='VOOC闪充USB数据线' title="VOOC闪充 USB数据线 DL118" src='picture/20150504040533ujustrzrkbnma4an.jpg'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/234.html' title="VOOC闪充USB数据线 DL118">VOOC闪充USB数据线 DL118 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥29.00</strong>
        </p>
                      </div>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/168.html' title="OPPO原装USB数据线">
          <div class='box-photo'>
                  <img alt='OPPO原装USB数据线' title="原装USB数据线" src='picture/20150505050500yvyq871yyq7vely9.jpg'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/168.html' title="原装USB数据线">原装USB数据线 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥19.00</strong>
        </p>
                      </div>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/174.html' title="OPPO原装入耳式耳机">
          <div class='box-photo'>
                  <img alt='OPPO原装入耳式耳机' title="OPPO原装入耳式耳机 MH130 白色" src='picture/2017022004024258aaa78e7a616.png'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/174.html' title="OPPO原装入耳式耳机 MH130 白色">OPPO原装入耳式耳机 MH130 白色 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥59.00</strong>
        </p>
                      </div>
        <i class="ribbon  ribbon-new   "></i>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/408.html' title="R9s 液态硅胶保护壳  白色">
          <div class='box-photo'>
                  <img alt='R9s 液态硅胶保护壳  白色' title="R9s 液态硅胶保护壳  白色" src='picture/2017022109020858ab94d80cfa6.png'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/408.html' title="R9s 液态硅胶保护壳  白色">R9s 液态硅胶保护壳  白色 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥29.00</strong>
        </p>
                      </div>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/381.html' title="OPPO时尚单品自拍杆">
          <div class='box-photo'>
                  <img alt='OPPO时尚单品自拍杆' title="OPPO时尚单品自拍杆  晴空蓝" src='picture/2017022410021058afa1425c404.png'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/381.html' title="OPPO时尚单品自拍杆  晴空蓝">OPPO时尚单品自拍杆  晴空蓝 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥39.00</strong>
        </p>
                      </div>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
        <div class='box '>
  <a target='_blank' href='//www.opposhop.cn/products/380.html' title="">
          <div class='box-photo'>
                  <img alt='' title="OPPO时尚单品自拍杆   樱花粉" src='picture/201702060402225898323e56db4.png'>
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='//www.opposhop.cn/products/380.html' title="OPPO时尚单品自拍杆   樱花粉">OPPO时尚单品自拍杆   樱花粉 </a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
          <span class='normal'>&nbsp;</span>
          <strong>￥39.00</strong>
        </p>
                      </div>
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
          </div>
      </div>
    </section>
            <section class='brick-s grid-one'>
      <div class="wrapper">
                <picture>
          <!--[if IE 9]> <video style="display: none;"> <![endif]-->
          <source media='(min-width: 990px)' srcset='//shopfs.myoppo.com/shop/assets/images/content/others/services.png?20170210101314' />
          <source media='(min-width: 750px)' srcset='//shopfs.myoppo.com/shop/assets/images/content/others/sercices_1080x321.jpg' />
          <source media='(min-width: 300px)' srcset='//shopfs.myoppo.com/shop/assets/images/content/others/sercices_1080x530.png' />
          <!--[if IE 9]> </video> <![endif]-->
          <img src='picture/sercices_1080x530.png' srcset='//shopfs.myoppo.com/shop/assets/images/content/others/services.png'>
        </picture>
      </div>
    </section>
      </main>
        <footer class='main-footer'>
    <div class='footer-sitemap'>
    <nav class='wrapper'>
  <div class="g">
    <div class="gi lap-three-quarters">
  <ul class='g'>
                <li class='gi lap-one-quarter'>
        <a class='m-item' href='//www.oppo.com/cn/products' target="_blank">推荐机型</a>
      <span class="toggle js-toggle-sitemap"></span>
      <ul>
                <li>
          <a href='http://www.opposhop.cn/products/412.html' target='_blank'>R11</a>
        </li>
                <li>
          <a href='http://hd.oppo.com/act/2017/0623/index.html' target='_blank'>R11 Plus</a>
        </li>
                <li>
          <a href='//www.opposhop.cn/products/409.html' target='_blank'>A57</a>
        </li>
                <li>
          <a href='//www.opposhop.cn/products/389.html' target='_blank'>A59s</a>
        </li>
              </ul>
    </li>
            <li class='gi lap-one-quarter'>
        <a class='m-item' href='//www.oppo.com/cn/service' target="_blank">服务</a>
      <span class="toggle js-toggle-sitemap"></span>
      <ul>
                <li>
          <a href='//www.oppo.com/cn/service/map' target='_blank'>服务网点查询</a>
        </li>
                <li>
          <a href='//www.oppo.com/cn/service/part' target='_blank'>零配件价格查询</a>
        </li>
                <li>
          <a href='//www.oppo.com/cn/service/help/614?name=打假维权' target='_blank'>官方授权网店</a>
        </li>
              </ul>
    </li>
            <li class='gi lap-one-quarter'>
        <a class='m-item' href='//www.oppo.com/cn/blogs' target="_blank">关于我们</a>
      <span class="toggle js-toggle-sitemap"></span>
      <ul>
                <li>
          <a href='//www.oppo.com/cn/blogs/about' target='_blank'>关于OPPO</a>
        </li>
                <li>
          <a href='http://career.oppo.com' target='_blank'>加入我们</a>
        </li>
              </ul>
    </li>
            <li class='gi lap-one-quarter'>
        <a class='m-item' href='http://open.oppomobile.com/' target="_blank">商务合作</a>
      <span class="toggle js-toggle-sitemap"></span>
      <ul>
                <li>
          <a href='http://open.oppomobile.com/' target='_blank'>开放平台</a>
        </li>
                <li>
          <a href='//www.oppo.com/cn/service/help/605?name=sourcing' target='_blank'>采购相关</a>
        </li>
              </ul>
    </li>
          </ul>
    </div>
    <div class="gi lap-one-quarter align-right">
      <div class="one-half lap-one-whole contact-online">
        <a href="http://oim.oppo.com/oim/chatClient/chatbox.jsp?companyID=8092&configID=890&enterurl=http%3A%2F%2Foim%2Emyoppo%2Ecom%2Foim%2Fpreview%2Ejsp&pagereferrer=http%3A%2F%2Foim%2Emyoppo%2Ecom%2Foim%2FembedScript%2Ejsp%3Ft%3D1517&k=1" target="_blank" class="oppo-tj" data-tj="store|chatclient|online|footer"><img src="picture/icon-online.png" alt=""></a>
      </div>
      <div class="one-half lap-one-whole contact-tel">
        <p class="contact-number">4001-666-888</p>
        <p class="contact-tips">（24小时全国服务热线）</p>
      </div>
    </div>
  </div>
</nav>  </div>

  <div class="g wrapper">
    <div class="footer-linear"></div>
  </div>

                              <!-- <div class='g'>
          <div class='gi lap-one-whole one-whole'>
            <a href='#' id="btn-kf"><img src='picture/zxkf.png' /></a>
          </div>
          <div class='gi footer-lap-hide one-third'><img alt='' src='picture/m.jpg' /></div>
        </div> -->
              <!-- <div class='footer-subscribe lap-one-half desk-lap-one-third'>
        <form action='#' class='main-form'>
          <div class='input-button-item'><input placeholder='输入Email订阅我们的最新动态' type='text'>
          <button class='button button-primary' type='submit'>订 阅</button>
          </div>
        </form>
      </div> -->
    <div class='footer-info'>
    <div class='wrapper'>
            <div class="footer-focus">
        <span class='text'>关注我们：</span>
        <a href='http://weibo.com/oppo' target='_blank' class="footer-focus-weibo">
          <span class='icon icon-weibo'></span>
        </a>
        <a href='#' class='footer-focus-icon footer-focus-wechat relative'>
          <span class='icon icon-wechat'></span>
          <img src="picture/qrcode-wx.jpg" class="wx-float" alt="">
        </a>
        <a href='#' class='footer-focus-icon footer-focus-fuwuchuang relative'>
          <span class='icon icon-fuwuchuang'></span>
          <img src="picture/qrcode-fwc.jpg" class="wx-float" alt="">
        </a>
      </div>
      <p class='copy'>© 2005 - 2017 OPPO 版权所有 <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">粤ICP备14056724号-2</a> 联系方式：4001-666-888</p>
      <a href="http://wljg.gdgs.gov.cn/corpsrch.aspx?key=441900001042573" target="_blank" title="企业名称：东莞市永盛通信科技有限公司
法定代表人：吴强
标识状态：已激活 粤工商备P191703000418" class="footer-identification"></a>
  </div>
</footer>
    
    <div class='navi-scroll'>
  <div class="navi-scroll-content">
    <a href="javascript:;" class="scroll-top-btn"><span>回到顶部</span><i></i></a>
      </div>
</div>

    
            <div class="purchase-advisory">
        <a onclick="NTKF.im_openInPageChat('');" class="oppo-tj" data-tj="store|chatclient|purchase|home" id="advisory">购机咨询</a>
    </div>
    
    <script src="js/jquery-1.9.1.min.js"></script>

    <script src="js/jquery.lazyload.min.js"></script>

    <script src="js/underscore-min.js"></script>

    <script src="js/es5-shim.min.js"></script>

    <script src="js/base64.min.js"></script>

    <script src="js/custom_form.js"></script>

    <script src="js/jquery.countdown.min.js"></script>

    <script src="js/slick.min.js"></script>

    <script src="js/responsive.js"></script>

    <script src="js/picturefill.min.js"></script>

    <script src="js/scripts.js"></script>

        <script src="js/opposhop.min.js"></script>


          <script type="text/javascript">
    var xnscript = document.createElement("script");
    xnscript.src = "https://xiaoneng.oppo.com:9091/js/xn6/ntkfstat.js?siteid=kf_9568";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(xnscript, s);
</script>    <script type="text/javascript">
    var vm;
    OPPO.conf.BASE_URL = '//www.opposhop.cn';
    OPPO.conf.STORE_URL = '//www.opposhop.cn';
    OPPO.conf.ACCOUNT_URL = '//my.oppo.com';
    OPPO.conf.WWW_URL = "//www.oppo.com/cn/";
    OPPO.conf.SSO_LOGIN_URL = "https://id.oppo.com/login";
    OPPO.conf.SSO_LOGOUT_URL = "https://id.oppo.com/logout";
    OPPO.conf.SSO_REGISTER_URL = "https://id.oppo.com/register/sms?type=1";
    OPPO.conf.date = '1506675606';
    
    var url = OPPO.conf.STORE_URL + '/auth/check';

    var setNTKFParams = function(data) {
        if("undefined" == typeof(NTKF_PARAM)) return;
        NTKFTimer = setTimeout(function(){
            if("undefined" == typeof(NTKF)) {
                setNTKFParams(data);
            } else {
                NTKF.im_updatePageInfo({uid: data['oid'], 'uname': data['name']});
            }
        }, 300);
    };

    //callback for jsonp
    var successCallback = function(data){
        $('ul.log-area .hasLogout').removeClass('show').addClass('hidden');
        $('ul.log-area .hasLogin').removeClass('hidden').addClass('show');
        $('.cart_number').text(data['cart_number']);
        $('.n-messages').text("(" + data['message_number'] + ")");
        $('.user-menu').addClass('isLogin');
        $('.user-menu-toLogin').hide();
        if (data['message_number']>0 || data['cart_number']>0) {
          $('.js-open-user').addClass('point-red');
          if (data['message_number']>0) $('.user-menu-message a').addClass('point-red');
          if (data['cart_number']>0) $('.user-menu-cart a').addClass('point-red');
        };
        if (data['append'] != '') $('body').append(data['append']);

                setNTKFParams(data);
    };
    var errorCallback = function(){
        $('ul.log-area .hasLogin').removeClass('show').addClass('hidden');
        $('ul.log-area .hasLogout').removeClass('hidden').addClass('show');
        $('.cart_number').text(0);
    };
    $.ajax({
        url: url,
        type: 'GET',
        dataType: 'jsonp',
        error: function() {
            errorCallback();
        },
        success: function(data){
            successCallback(data);
        }
    });

    (function () {
        var controllerNameWithAction = "HomeController@index".split('@');
        var controllerName = controllerNameWithAction[0];
        var actionName = controllerNameWithAction[1];
        var controller = OPPO.controller[controllerName];
        if (controller) {
            action = controller()[actionName];
            if (action) {
                $(function () {
                    vm = action();
                });
            }
        }
        // else console.log(controllerNameWithAction);
    })();
    </script>

    <script type="text/javascript">
      $(function(){
              });
    </script>

<!--oppo统计-->
<script>
var _optj = _optj || [];
//判断是否登录，有登录则输出用户ID

//加入购物车的商品ID信息

//判断是否有订单号信息 有则输出


 //判断是否有订单的商品ID信息 有则输出 多个用"|"中划线分割


(function() {
  var op = document.createElement("script");
  op.src = "//shopfs.myoppo.com/hd/static/js/optj-1.1.0.min.js?20170313";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(op, s);
})();
</script>

<noscript><img src="picture/3ddc415fbb1444d183fe57d5363f0490.gif" style="border:0" alt="" /></noscript> 

<script type="text/javascript">
$(function(){
  $("body").on("click",".oppo-tj",function(){
    if (typeof $(this).data('tj') != 'undefined' && typeof _optj != 'undefined') {
      var tj = $(this).data('tj');
      var tjs = tj.split("|");
      _optj.push(['_trackEvent', tjs[0], tjs[1], tjs[2], tjs[3]]);
    };
  });
});
</script>
  </body>
</html>
<!-- cached at 2017-09-29 17:00:06 -->