<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>『OPPO帐号』-登录</title>
    <link rel="stylesheet" href="__CSS__common.css" />
   <!--  -->
</head>
<body>
<div class="wrapper">
        <div class="header">
            <div class="w960">
                 <ul class="menu_sec">
                    <li><a href="/index/index/index">OPPO官网</a></li>
                    <li><a href="/index/bbs/bbs">OPPO社区</a></li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
        </div>



        <div class="login_box">
            <div class="mainbox">
                <!--头部logo-->
                <div class="lgnheader">
                    <div class="logo"></div>
                    <h3 class="title">登录OPPO帐号可享受更多的服务</h3>
                </div>
                <!--主体登录框-->
                <form action="/user/user/dolog" method="post">
                <div class="login_area">
                    <div class="login_form" >
                       <div class="input_area">
                <input type="text"  id="username" name="username" autocomplete="off"  class="username" placeholder="请输入手机号码/邮箱/用户名"/>
            
                </div>
                <div class="text-danger" id="userId" style="text-align: center; color:red"></div>
                <div  class="text-danger" id="userIdT" style="text-align: center; color:green"></div>


                <div class="error_tip" id="info_username"></div>
                <div class="input_area">
                    <input type="password" name="password"  id="pwd"  autocomplete="off"  class="pwd" placeholder="请输入帐号密码" />
                </div>
                <div class="text-danger" id="pasId" style="text-align: center; color:red"></div>
                <div  class="text-danger" id="pasIdT" style="text-align: center; color:green"></div>

                        <div class="error_tip" id="info_pwd"></div>

                        <div id="captcha_area">
                            <div class="error_tip" id="info_vercode"></div>
                        </div>

                        <input type="submit" class="button login_button mt30"  value="登录" style="margin-bottom:15px;"  link = "/user/user/dolog"/>
                        <input type="button" class="button register_button oppo-tj" id="registerBtn" value="注册OPPO帐号"  link = "/user/user/reg"  data-tj=""/>
                        </form>

                        <div class="error_tip1" style="margin-top:10px;" id="info_login_form"></div>
                    </div>
                </div>
            </div>

            <div class="footer_info">
                
            </div>
        </div>
    </div>


<script src="__JS__jquery-1.9.1.min.js" ></script>
<script src="__JS__jquery-md5-min.js" ></script>
<script src="__JS__login.js" ></script>

<script>
    $('#username').blur(function() {
        $('#userIdT').html("");
        $('#userId').html("");
        var username = $('#username').val();
        if (username.length > 15) {
            $('#userId').html('用户名过长')
        };
        if (username.length !=0 ){
            $.ajax({
                url: '/user/ajax/user',
                type: 'POST',
                dataType: 'json',
                async : false,
                data: {param:username},
                success:success
            });
            function success(data){
                if (data.status == 0) {
                    $('#userIdT').html(data.msg);
                }
                if (data.status == 1) {
                   $('#userId').html(data.msg);
                }
            }
        }
    });

</script>
<script type="text/javascript">
     
    $('#pwd').blur(function() {
       var password = $('#pwd').val(); 
        var username = $('#username').val();
        $('#pasIdT').html("");
        $('#pasId').html("");
       
        if (pwd.length !=0 ){
            $.ajax({
                url: '/user/ajax/password',
                type: 'POST',
                dataType: 'json',
                async : false,
                data: {password:password,username:username},
                success:pass
            });
            function pass(data){
                if (data.status == 0) {
                    $('#pasIdT').html(data.msg);
                }
                if (data.status == 1) {
                   $('#pasId').html(data.msg);
                }
            }
        }
    });
</script>
</body>
</html>
