<!DOCTYPE html>
<html lang="zh-CN" >
<head>
    <title></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="applicable-device" content="pc,mobile">
<base target="_blank" />
<link href="__CSS__common.min.css" rel="stylesheet">

<!-- <script>var baseUrl='',siteName='OPPO社区',hostInfo='http://www.oppo.cn',ossHost='//www.oppo.cn',rsaSign={sign:'aqc9iOWUCvrUPQGmV+KMIZEs4q9yubF8+dRRkut82LJKSiMe98TsqrjQUCzbRcgaHlfOmPmFySR/X1DPP1eSDURozjX166EzDv43lP/+0bpLln7cjtYxwg1zlXzWGb3KaCpK/7ks82Jo5wwxfuEzhveZbb0FXlQWzsNvTBcnDsU='},themeUrl='/themes/default',addScript=function(a){var b=document,c="script",d=b.createElement(c),e=b.getElementsByTagName(c)[0];d.async=1,d.src=a,e.parentNode.insertBefore(d,e)},_hmt=_hmt||[];addScript("//hm.baidu.com/hm.js?fab357f3d6fac1bd87ade8e294603d06");!function(a,b,c){a["GoogleAnalyticsObject"]=c,a[c]=a[c]||function(){(a[c].q=a[c].q||[]).push(arguments)},a[c].l=1*new Date,addScript(b)}(window,"//www.google-analytics.com/analytics.js","ga"),ga("create","UA-29338249-14","auto"),ga("send","pageview");</script> -->
</head>
<body>

<div class="Wrap">
 {include file="/bbs/header" /}

<main class="Cb"> 

        <!--面包屑开始-->
        <p class="Bread Hide">
            <a class="First" target="_self" href="http://www.oppo.cn">OPPO社区<s></s></a><span>帖子<u></u><s></s></span><span>大大猫咪小小鱼儿<u></u><s></s></span>
        </p>
        <!--面包屑结束-->
 {include file="/bbs/right" /}
    <div class="Left">
        <!--详情开始-->
        <div class="Friends Box">
            <ul>
                <li class="Cb">
                    <a class="Follow ">关注</a>
                    <a class="Avatar" href="">
                    <img src="__PICTURE__transparent.png"  />
                    <i></i>                    </a>
                    <h2><a href="/member-28680624-1">大大猫咪小小鱼儿</a><i class="Female"></i><span class="Group">Lv7.学士生O粉</span></h2>
                    <p class="C999"></p>
                </li>
            </ul>
        </div>
                <div class="Detail Box" >
            <article>
                <h1></h1>
                <p class="Time C999"><span class="Fr">阅读 692</span><span class="Fr MR20">评论 58</span>19小时前</p>
                <div>
                    <a type="3" class="C3fcab8" href="">#十月印象#</a><a type="3" class="C3fcab8" href="">#一千种生活，一种拍照方式#</a><a type="3" class="C3fcab8" href="">#植物日记#</a>看书时发现前段时间夹在书里的落叶还有不知名小花儿😉<br/><img src="http://www.oppo.cn/themes/default/images/pic.bg.png"  alt="115039844" type="2"/><br/>
                </div>
            </article>

           
        <p class="Top">
               <!--  <a class="Candy" pid="282800630"><i></i>发糖 +28</a> -->
                <a class="Favorite " ><i></i>收藏 +1</a>
                <a class="Praise " ><i></i>赞 +674</a>
            </p>
            <!--评论表单-->
 
              <form class="Comment Cb">
                  <a class="Avatar" href=""><img src="__PICTURE__transparent.png"  /></a>
                  <div class="Container">
                     <textarea name="content"></textarea>
                  </div>
                <button class="Fr" type="submit">评论</button> <a class="Emot"></a><a class="Image"></a>
              </form>
            
            <p class="Bot">
                                                
                 <a class="Report" tid="147103687">举报</a>
            </p>
        </div>
        
         <dl class="Discuss Box " id="comment_top">
            <dt>
                <form ><a class="Fr ML10 FS16">直达</a><input class="Fr" name="floor" /></form>全部评论</dt>
                <dd class="Trends">
 
                     <ul class="BT0 MT0" id="floor_1" >

                        <li class="Ava">
                            <a class="Avatar" href="">
                                <img src="__PICTURE__transparent.png"  />
                            </a>
                            <a name="p282893071"></a>
                        </li>
                        <li class="Top Cb"><span class="floor">沙发</span><a class="Name" href="">开心老鼠王</a><span class="Group">Lv7.学士生O粉</span><p class="Drop"><a class="More"></a> <span>                                                                                                            <a class="Report" tid="147103687" pid="282893071"><i></i>举报</a>
                                    </span></p></li>
                        <li class="Tail">13小时前&nbsp;</li>
                        <li class="Des">
                            一
                        </li>
    

                        <li class="Bot">
                            <a class="Reply" name="answer" ><i></i>0</a>
                            <a class="Praise "><i></i>0</a>
                            
                            
                        </li>
                        <u class="Stick"></u>
                    </ul>       
             </dd>
        </dl>

        <!--详情结束-->

<!--分页开始-->
<div class="Page Box">
    <a class="Next" href="" target="_self">下一页<i></i></a>
        <a class="Prev Dis"><i></i>上一页</a>
    <p>
    <span>
          <a class="Dis">第1页</a>
          <a href="" target="_self">第2页</a>
          <a href="" target="_self">第3页</a>
    </span>
    <a class="Mid">第1页<i></i></a>
    </p>
</div>
<!--分页结束-->

    </div>
</main>

<dialog id="candy" class="Box">
</dialog>

<dialog id="answer" class="Box">
  <dl>
    <dt><a class="Close">×</a>回复</dt>
    <dd>
      <form class="Comment Cb">
          <div class="Container"><textarea name="content" placeholder="我也说一句"></textarea></div>
          <button class="Fr" type="submit">回复</button>
      </form>
    </dd>
  </dl>
</dialog>
</div>
{include file="/bbs/footer" /}
<ul id="Bottom" class="Show">
  <li class="Down Dn"> <a name="link" class="Fr Btn Dn" href=""></a> <a target="_self" href="/login" rel="nofollow">登录</a><span class="FFa MLR10">|</span><a target="_self" href="" rel="nofollow">注册</a> </li>
  <li class="Sign Dn"><a class="Fr Btn">点击签到</a>您今天还没签到！</li>
  <li class="Publish Dn">
    <table width="100%">
      <tr>
                <td width="100%"><input class="Text VAt" placeholder="我也说一句" tid="147103687" /></td>
        <td nowrap="nowrap"><a class="Btn Like">点赞</a></td>
                <td nowrap="nowrap" align="right"><a class="Btn" target="_self" href="" rel="nofollow">发帖讨论</a></td>
      </tr>
    </table>
  </li>
</ul>

<!--动态对话框开始-->
<dialog id="Report" class="Box">
  <dl>
    <dt><a class="Close">×</a>举报</dt>
    <dd>
      <form>
        <h6>举报类型:</h6>
        <p class="P Select"> <label class="Dn" aj-repeat="data"></label> </p>
        <p Class="P"> <input type="text" name="message" /></p>
        <p class="TAr"><button type="submit">确定</button></p>
      </form>
    </dd>
  </dl>
</dialog>

<script src="__JS__common.min.js"></script>
<!-- <script src="/static/scripts/pages/thread_detail.js?88111fa6"></script> -->
<script src="__JS__thread_detail.js?88111fa6"></script> 
<!-- <script src="__JS__thread_detail.js"></script> -->
</body>
</html>