<!DOCTYPE html>
<html lang="zh-CN" xmlns:wb="http://open.weibo.com/wb">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="applicable-device" content="pc,mobile">
<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
<meta name="keywords" content="活动,晒照,比赛,奖品">
<meta name="description" content="OPPO社区活动栏目是官方举行的手机摄影主题活动，发表OPPO拍照手机拍摄的原创作品参与活动，即有机会赢取积分和各种奖品，还有OPPOR9s、R9等新款手机等你来拿哦！">
<title>OPPO官方活动专区_活动_OPPO手机官方社区</title>
<base target="_blank" />
<link href="__CSS__common.min.css" rel="stylesheet">





<!--[if lte IE 8]>
<script>'abbr article aside audio bdi canvas data datalist details dialog figcaption figure footer header hgroup main mark meter nav output picture progress section summary template subline time video'.replace(/\w+/g,function(n){document.createElement(n)});</script>
<![endif]-->
<script>var baseUrl='',siteName='OPPO社区',hostInfo='http://www.oppo.cn',ossHost='http://www.oppo.cn',rsaSign={sign:'ffwXwPqRQH6yYY7zFT0pny/6k+xXiCdq6GipBjseNBrMnvMYcDbCCEz0O9Y9v8uAyXI37v3mSTDsT5LAToA1bGFELIir+Oy2M41umywQtltZyJlrbc9VilsIwaKQeq6/Fpp0RQYpZMfl9azY/I+UIsqvtSohiyFm+Ju2PYTkilc='},themeUrl='/themes/default',addScript=function(a){var b=document,c="script",d=b.createElement(c),e=b.getElementsByTagName(c)[0];d.async=1,d.src=a,e.parentNode.insertBefore(d,e)},_hmt=_hmt||[];addScript("//hm.baidu.com/hm.js?fab357f3d6fac1bd87ade8e294603d06");!function(a,b,c){a["GoogleAnalyticsObject"]=c,a[c]=a[c]||function(){(a[c].q=a[c].q||[]).push(arguments)},a[c].l=1*new Date,addScript(b)}(window,"//www.google-analytics.com/analytics.js","ga"),ga("create","UA-29338249-14","auto"),ga("send","pageview");</script>
</head>
<body>

<div class="Wrap">
{include file="/bbs/header" /}

<main class="Cb"> 
    <!--面包屑开始-->
    <p class="Bread Hide"><a class="First" target="_self" href="http://www.oppo.cn">OPPO社区<s></s></a><span>活动<u></u><s></s></span></p>
    <!--面包屑结束-->
      
   {include file="/bbs/right" /}
  <div class="Left"> 

    
    <ul class="Activities" aj-scroll="/common/activity/index.json" aj-config='{"resultRecords":"count"}' aj-param='{"page":2}'>
      <li class="Box Dn" aj-repeat="data" aj-id="{@data.id@}"> 
        <a href="{@data.link@}" title="{@data.title@}"><img src="__PICTURE__transparent.png" data-src="{@data.img@}" alt="{@data.title@}" /></a>
        <span class="{@data.is_show.replace(已结束,End)@}">{@data.is_show@}</span><h2>{@data.title@}</h2>
      </li>
            
                  <li class="Box" aj-id="178"> 
        <a href="/thread-132743190-1" title="【每周精选】Vol . 035"><img src="__PICTURE__transparent.png" data-src="http://imgfs.oppo.cn/uploads/common/2017/09/20/15058785624023.jpg" alt="【每周精选】Vol . 035" /></a>
        <span class="">进行中</span><h2>【每周精选】Vol . 035</h2>
      </li>
                  <li class="Box" aj-id="177"> 
        <a href="http://hd.oppo.com/act/m/2017/daren1/index.html" title="【最会拍达人榜】Vol . 001"><img src="__PICTURE__transparent.png" data-src="http://imgfs.oppo.cn/uploads/common/2017/09/20/15058785233305.jpg" alt="【最会拍达人榜】Vol . 001" /></a>
        <span class="">进行中</span><h2>【最会拍达人榜】Vol . 001</h2>
      </li>
              
                  <li class="Box" aj-id="175"> 
        <a href="/thread-129922041-1" title="【每周推荐】Vol . 034"><img src="__PICTURE__transparent.png" data-src="http://imgfs.oppo.cn/uploads/common/2017/09/20/15058784191024.jpg" alt="【每周推荐】Vol . 034" /></a>
        <span class="">进行中</span><h2>【每周推荐】Vol . 034</h2>
      </li>
                  <li class="Box" aj-id="169"> 
        <a href="http://oppo7.nplusgroup.net/resource/oppotf/home.html?v=sq" title="【一起拍】领养你的专属“手机人”吧！"><img src="__PICTURE__transparent.png" data-src="http://imgfs.oppo.cn/uploads/common/2017/09/14/15053732831279.jpg" alt="【一起拍】领养你的专属“手机人”吧！" /></a>
        <span class="">进行中</span><h2>【一起拍】领养你的专属“手机人”吧！</h2>
      </li>
                  <li class="Box" aj-id="167"> 
        <a href="/thread-126937815-1" title="【每周推荐】Vol . 033"><img src="__PICTURE__transparent.png" data-src="http://imgfs.oppo.cn/uploads/common/2017/09/06/15047045066058.jpg" alt="【每周推荐】Vol . 033" /></a>
        <span class="">进行中</span><h2>【每周推荐】Vol . 033</h2>
      </li>
   </ul>
    
 
  </div>
</main>


        
</div>
{include file="/bbs/footer" /}

<ul id="Bottom" class="Show">
  <li class="Down Dn"> <a name="link" class="Fr Btn Dn" href=""></a> <a target="_self" href="/login" rel="nofollow">登录</a><span class="FFa MLR10">|</span><a target="_self" href="/register" rel="nofollow">注册</a> </li>
  <li class="Sign Dn"><a class="Fr Btn">点击签到</a>您今天还没签到！</li>
  <li class="Publish Dn">
    <table width="100%">
      <tr>
                <td nowrap="nowrap" align="right"><a class="Btn" target="_self" href="/add" rel="nofollow">发帖讨论</a></td>
      </tr>
    </table>
  </li>
</ul>

<!--动态对话框开始-->
<dialog id="Report" class="Box">
  <dl>
    <dt><a class="Close">×</a>举报</dt>
    <dd>
      <form>
        <h6>举报类型:</h6>
        <p class="P Select"> <label class="Dn" aj-repeat="data">{@data.name@}</label> </p>
        <p Class="P"> <input type="text" name="message" /></p>
        <p class="TAr"><button type="submit">确定</button></p>
      </form>
    </dd>
  </dl>
</dialog>
<dialog id="Shield" class="Box">
  <dl>
    <dt><a class="Close">×</a>屏蔽该帖</dt>
    <dd>
      <form class="TAc">
          <h6></h6>
          <input type="hidden" name="topic_id" /><input type="hidden" name="page" />
          <p class="MT20"><button type="reset" class="Btn-W MR10">取消</button><button type="submit">确定</button></p>
      </form>
    </dd>
  </dl>
</dialog>
<dialog id="ShieldTa" class="Box">
  <dl>
    <dt><a class="Close">×</a>屏蔽TA</dt>
    <dd>
      <form class="TAc">
          <h6></h6>
          <p class="MT20"><button type="reset" class="Btn-W MR10">取消</button><button type="submit">确定</button></p>
      </form>
    </dd>
  </dl>
</dialog>
<dialog id="Reply" class="Box">
  <dl>
    <dt><a class="Close">×</a><span>转发</span></dt>
    <dd>
      <div class="For"> </div>
      <form class="Comment Cb">
        <div class="Container">
          <textarea name="content"></textarea>
        </div>
        <button class="Fr" type="submit">转发</button> <a class="Emot"></a> <a class="Image"></a>
      </form>
    </dd>
  </dl>
</dialog>
<dialog id="At" class="Box">
  <dl>
    <dt>@我的朋友<a class="Close">×</a></dt>
    <dd>
      <p class="P"> <input type="text" name="user" /></p>
      <p class="P Select MB0" aj-config='{"emptyShow":0}'> <label class="Dn" aj-repeat="data" name="oppo_at" title="@{@data.uid@}" href="/member-{@data.uid@}-1">@{@data.nickname@}</label> </p>
    </dd>
  </dl>
</dialog>
<dialog id="Emot" class="Box"> <a class="Close">×</a>
  <dl>
    <dt class="Tab" aj-response="rEmot"><a class="Dn" aj-repeat="type">{@type.name@}</a></dt>
    <dd>
      <div class="Dn" aj-repeat="type">
        <p aj-param='{"type_id":{@type.id@}}'> <a class="Dn" aj-repeat="data" title="{@data.name@}"><img name="oppo_smiley" src="__PICTURE__transparent.png" data-src="{@data.img_url@}" alt="{@data.label@}" /></a> </p>
      </div>
    </dd>
  </dl>
</dialog>
<dialog id="top" class="Box">
  <dl>
    <dt><a class="Close">×</a>置顶</dt>
    <dd>
      <form>
          <h6>置顶时间:</h6>
          <p class="P"><input type="text" name="start"></p>
          <h6>到</h6>
          <p class="P"><input type="text" name="end"></p>
          <h6>置顶理由</h6>
          <p class="P Select Dn"> <label class="Dn" aj-repeat="data">{@data.name@}</label> </p>
          <p class="P"> <input type="text" name="reason" /></p>
          <p class="TAr"><button type="submit">确定</button></p>
      </form>
    </dd>
  </dl>
</dialog>
<!--动态对话框结束-->

<script src="__JS__common.min.js"></script>
</body>
</html>