<!-- BEGIN FOOTER -->

<footer>
  <ul>
    <li class="Top">
            <a href="" target="_blank">
      OPPO论坛
      </a>
            <span class="FFa MLR10">|</span>
                  <a href="" target="_blank">
      OPPO乐园
      </a>
            <span class="FFa MLR10">|</span>
                  <a href="" target="_blank">
      OPPOR11
      </a>
            <span class="FFa MLR10">|</span>
                  <a href="" target="_blank">
      OPPOR9
      </a>
                              <span class="FFa MLR10">|</span> <a target="_self" href="/logout" rel="nofollow">登出</a>
          </li>
    <li><strong name="company"></strong> ( <a name="icp" href=""></a> ) </li>
    <li id="Analytics">
      <a key ="54a21ad6efbfb03518d8f09d" logo_size="83x30" logo_type="realname" href="" ><script src="__JS__aq_auth.js"></script></a>
    </li>
  </ul>
</footer>
<!-- END FOOTER -->
