<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<html class='no-js'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE" />
    <meta content='width=device-width,initial-scale=1, user-scalable=no' name='viewport'>
    <title>购物车-OPPO智能手机官网 </title>
    <meta name="keywords" content="购物车,OPPO智能手机官网 " />
    <meta name="description" content="OPPO手机购物车为您提供OPPO手机购物车流程,想知道更多的购物车信息，就在OPPO智能手机官网。 " />
    <link media="all" type="text/css" rel="stylesheet" href="__CSS__styles_6.css?v=2017010100032">

    <script type="text/javascript">
		function checkBrowser(){
			var browser = {};
			var div = document.createElement( "div" );
			div.innerHTML = "<link/><table></table><a href='/a'>a</a><input type='checkbox'/>";
            var a = div.getElementsByTagName( "a" )[0];
			style = a && a.style;
			if (!style) {
				return;
			}
			style.cssText = "float:left;opacity:.5";
			// Support: IE<9
			// Make sure that element opacity exists (as opposed to filter)
			browser.opacity = style.opacity === "0.5";
			// Verify style float existence
			// (IE uses styleFloat instead of cssFloat)
			browser.cssFloat = !!style.cssFloat;
			if(browser.opacity && browser.cssFloat){
				return true;
			}else{
                //IE 8测试
                var userAgent = navigator.userAgent.toLocaleUpperCase();
                var msie = /MSIE [\d\.]+/;
                var version = msie.exec(userAgent);
                if (version<"MSIE 8") return false;
                else return true;
			}
		}
        var v = checkBrowser();
		if (!v) {
			window.location.href = "https://www.opposhop.cn/lower.html";
		}
    </script>
    
    <script src="__JS__modernizr.custom.js"></script>

          <script>
    NTKF_PARAM = {
      siteid: "kf_9568",
      settingid: "kf_9568_1493698078342",
      uid:"",
      uname:"",
      isvip: "0",
      userlevel: "1",
      erpparam: "abc",
      ntalkerparam:{
        cartprice: 2999.00,
　　    items: [{"id":415,"count":"1"}]
      }
    };
  </script>
  </head>
  <body>
{include file="/index/header" /}
        <main class='main-content slab-light'>
      <div class='wrapper'>
        <ul class='breadcrumb'>
  <li>
    <a href='/index/index/index'>
      首页
      <span>/</span>
    </a>
  </li>
            <li>
                  购物车
              </li>
      </ul>
        <div class='brick-bottom'>
          <ul class='steps'><li class='one active step-completed' id="buycar">
    <div class='step-content'>
            <h5 class='step-heading'>购物车</h5>
      <div class='step-gradient'></div>
    </div>
  </li><li class='two  ' id="dingdan">
    <div class='step-content palm-right-text' >
            <h5 class='step-heading'>填写订单</h5>
      <div class='step-gradient'></div>
    </div>
  </li><li class='three ' id="zhifu">
    <div class='step-content'>
            <h5 class='step-heading'>支付</h5>
      <div class='step-gradient'></div>
    </div>
  </li></ul>

          <div class="row">
            <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
              <ul class="list-unstyled">
                <strong class='error_msg_note'>
                </strong>
              </ul>
            </div>
            </div>
          </div>          
          <form class='g'>
            <div class='gi one-whole slab-white-border cart-reversion'>
              <ul class='purchase-list-header'>
                <li class='first'>
                  <label class="check-box-label check-box-all is-checked" for='checkAll'>
                    <span class="icon icon-checkbox"></span>
                    <span class="space-ml-10">全选</span>
                  </label>
                </li>
                <li class='second'>产品</li>
                <li class='third'>数量</li>
                <li class='four'>单价</li>
                <li class='five'>操作</li>
              </ul>
              <div class='brick-shadow purchase-list'>
                {foreach $car as $key => $value} 
                <input type="checkbox"   name="input[]" value="{$value['id']}" class="checkadd" >
                <div class="cart-product cart-product-l cart-product-bd2316302acb95488694614dba2c704a  ">
             
            <div class="cart-product-choice">

                                <label class="check-box-label check-box-item" data-id='bd2316302acb95488694614dba2c704a'>
                    <span class="icon icon-checkbox"></span>
                </label>
                                <a class='cart-product-image' href=""
                   target='_blank'>
                    <img src="{$value['img']}">
                </a>
            </div>
            <div class='cart-product-info'>
                <div class='cart-product-description'>
                    <h3 class='heading'><a href=""
                                           target="_blank">{$value['name']}{$value['color']}</a></h3>

                    <p>{$value['color']}|{$value['link']}|{$value['configure']}</p>
                </div>
                <div class="cart-counter-box">
                  <div class="counter-box" id="product-amount">
                  <a class="btn minus disabled" data-bind="minus" id="des{$value['id']}">-</a>
                  <input class="number" id="number{$value['id']}" type="text"  value="{$value['quantity']}" disabled>
                  <span id="oldnumber{$value['id']}" value="{$value['quantity']}"></span>
                  <a class="btn plus" data-bind="plus" id="sum{$value['id']}">+</a>
                </div>
                   
                </div>
                <div class='cart-product-price'>
                    <span class="hidemoney{$value['id']}" value="{$value['price']}"></span>
                                            <span class='normal'>￥ <span class="price{$value['id']} allprice">{$value['price']}</span> .00</span>
                                    </div>
                <div class='cart-product-delete cart-product-delete-word' id="{$value['id']}" >删除</div>
                <span class='cart-product-delete cart-product-delete-icon icon icon-close-circle' data-id='bd2316302acb95488694614dba2c704a'></span>
            </div>
            <script type="text/javascript">
       $("#{$value['id']}").click(function () {
        var id = $(this).attr('id');
         $.ajax({
          type:"post",    
          url:"/index/shop/delCar",    
          dataType: 'json',
          async : true,
          data: {id:id}, 
          success:del
        });
         function del(data)
         {
          //console.log(data); 
         
         }
          window.location.reload();
       // $("$addrlist"+addr_id).empty();
      })

</script>
            <script type="text/javascript">
              /*+号*/
                $("#sum{$value['id']}").click(function () {
                   var number =  $("#number{$value['id']}").attr('value');
                   var oldnumber =  $("#oldnumber{$value['id']}").attr('value');
                    var oldprice =  $(".hidemoney{$value['id']}").attr('value');
                    var   newprice = oldprice / number;
                  if (number < 10) {
                     number ++;
                     $("#number{$value['id']}").attr('value',number);
                    var newp = newprice * number;
                      $(".price{$value['id']}").html(newp);
                    } else {
                      alert('一次最多购买10部手机')
                    }
                  
                  
                })
                /*-号*/
                $("#des{$value['id']}").click(function () {
                   var number =  $("#number{$value['id']}").attr('value');
                   var oldnumber =  $("#oldnumber{$value['id']}").attr('value');
                    var oldprice =  $(".hidemoney{$value['id']}").attr('value');
                    var   newprice = oldprice / number;
                    $("#des{$value['id']}").removeClass(' disabled');
                   if (number > 1) {
                     number --;
                     $("#number{$value['id']}").attr('value',number);
                     var newp = oldprice - newprice;
                      $(".price{$value['id']}").html(newp);
                    } else {
                     $("#des{$value['id']}").addClass(' disabled');
                    }
                })

            </script>

        </div>
         {/foreach}  
                                <div class='cart-fee'>
        <ul>
          <li>
            <span class='cart-fee-title'>商品数量：</span>
            <span class='cart-fee-data total-amount'>0</span>
          </li>
          <li>
            <span class='cart-fee-title'>小计：</span>
            <span class='cart-fee-data total-fee'>￥000.00</span>
          </li>
        </ul>
    </div>
              </div>
              <div class='form-actions brick-shadow'>
                <div class='form-actions-left'>
                  <a class='link-primary' href='/index/shop/shop' target="_blank">继续购买&gt;&gt;</a>
                </div>
                <div class='form-actions-right'>
                                    <a class='button cart-button' id='shipping_btn'>结算</a>
                                  </div>
              </div>
</div>



   </div>   


      

        </div>
    
       
        </div>


</div>
</div>

    </main> 
    <div id='dialog-confirm' class='hidden'>
			<div class="mask-common"></div>
			<div class="dialog-common dialog-box-common">
				<div class="dialog-container">
					<a class="dialog-close-common">×</a>
					<div class="dialog-content-common">
												<div class="field">
							<h4 class='dialog-title-common'>您确定要删除该商品吗？</h4>
						</div>
																		<div class="dialog-common-content">
												</div>
												<div class="field dialog-btn">
							<div class="g g-wrapper-s">
																<div class="gi lap-one-half">
									<a class='button button-one'>确定</a>
								</div>															<div class="gi lap-one-half">
									<a class='button-light button-two'>取消</a>
								</div>
															</div>
						</div>
																	</div>
				</div>
			</div>
		</div>
	    <div id='dialog-error-msg' class='hidden'>
			<div class="mask-common"></div>
			<div class="dialog-common dialog-box-common">
				<div class="dialog-container">
					<div class="dialog-content-common">
												<div class="field">
							<h4 class='dialog-title-common'>没有可结算的商品</h4>
						</div>
																		<div class="dialog-common-content">
												</div>
																		<div class="field dialog-btn">
							<div class="g g-wrapper-s">
								<div class="gi lap-one-whole">
									<a id="sure" class='button button-one-whole'>确定</a>
								</div>
							</div>
						</div>
											</div>
				</div>
			</div>
		</div>
{include file="/index/footer" /}
    
    <div class='navi-scroll'>
  <div class="navi-scroll-content">
    <a href="javascript:;" class="scroll-top-btn"><span>回到顶部</span><i></i></a>
      </div>
</div>

    
        <div class="purchase-advisory">
        
    </div>
<script type="text/javascript">
  var all = document.getElementById('xz');
  var oInput = document.getElementsByName('input[]');
   li = new Array();
  all.onclick = function () {
    for (var i=0; i<oInput.length; i++) {
      oInput[i].checked = this.checked; 
      if (oInput[i].checked == true) {
        li.push(oInput[i].value);

      }
    }
    if (this.checked == true) {
      var price = 0;
      for (var i=0;i<$('.allprice').length;i++) {
       price = parseInt(price) + parseInt(($('.allprice'))[i].innerHTML);
      }
     
       $('.total-fee').html('￥'+ price+'.00');
      $('.total-amount').html(i);
    } else {
      $('.total-fee').html('￥000.00');
      $('.total-amount').html(0);
    }
  }


$('.checkadd').click(function(){
  var list=[];
  $(this).each(function(){
    list.push($(this).val());
    
  })
});

  $('#shipping_btn').click(function () {
    //oid = new Date();
    if ($('.total-fee').html() != '￥000.00') {
       $.ajax({
      type:"post",    
      url:"/index/shop/insIndent",    
      dataType: 'json',
      async : true,
      data: {li:li}, 
      success:addorder 
    });
     function addorder(data)
     {
      
      window.location.href="/index/shop/indent"; 
      
     } 

    } else{
      $('#dialog-error-msg').removeClass('hidden');
    }
    
  });
 
 $('#sure').click(function () {
   $('#dialog-error-msg').addClass('hidden');
 })
</script>

  </body>
</html>
