<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<html class='no-js'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE" />
    <meta content='width=device-width,initial-scale=1, user-scalable=no' name='viewport'>
    <title>『』最新报价_图片_配置参数-OPPO智能手机官网 </title>
    <link media="all" type="text/css" rel="stylesheet" href="__CSS__styles_2.css">

    <script src="__JS__jquery-1.9.1.min.js"></script>

   
</head>
<body>
 {for start = "0" end ="$type+1"}
        <section class="g module product-selector" data-common-name="attribute-{$type+1}" data-selector-type="box">
        <div class='gi one-quarter desk-one-fifth'>
            <div class='radio-label'></div>
        </div>
        <div class="gi three-quarters desk-four-fifths">
            <div class="g g-wrapper-s">
              
            {foreach $attrs as $key=>$value}
            {if $value['type'] == }
                <div class="gi one-half desk-one-third ">
                    <a href="javascript:;" class="swatch">
                        <span> 123</span>
                    </a>
                </div>
              
            {/foreach}
             </div>
        </div>
    </section>
    {/for}

</body>
</html>
   