<!DOCTYPE html>

<html class='no-js'>
  <head>
    <meta charset="utf-8">
    <title>购物车-OPPO智能手机官网 </title>
    <link media="all" type="text/css" rel="stylesheet" href="__CSS__styles_6.css?v=2017010100032">
   
       <script src="__JS__jquery-1.9.1.min.js"></script>

    <script src="__JS__jquery.lazyload.min.js"></script>    
    <script src="__JS__jquery.countdown.min.js"></script>
    <script src="__JS__pkg-detail-f23a56f.js"></script>
    <script src="__JS__modernizr.custom.js"></script>
    <script src="__JS__distpicker.js"></script>
     
  </head>
  <body>
{include file="/index/header" /}
        <main class='main-content slab-light'>

      <div class='wrapper'>
        <ul class='breadcrumb'>
  <li>
    <a href='/index/index/index'>
      首页
      <span>/</span>
    </a>
  </li>
            <li>
                 <a href='/index/shop/car'>
      购物车
      <span>/</span>
    </a> 
              </li>
              <li>
                  提交订单
              </li>
      </ul>
        <div class='brick-bottom'>
          <ul class='steps'><li class='one active step-completed' id="buycar">
    <div class='step-content'>
            <h5 class='step-heading'>购物车</h5>
      <div class='step-gradient'></div>
    </div>
  </li><li class='two  active step-completed' id="dingdan">
    <div class='step-content palm-right-text' >
            <h5 class='step-heading'>填写订单</h5>
      <div class='step-gradient'></div>
    </div>
  </li><li class='three ' id="zhifu">
    <div class='step-content'>
            <h5 class='step-heading'>支付</h5>
      <div class='step-gradient'></div>
    </div>
  </li></ul>  

         
         
<!-- 填写订单 -->
<div class="brick-bottom"  id="dingdanye">
    
                <form id="order-create-form" class="g">

          <div class="gi one-whole slab-white-border" >
            <div class="delivery-header">
              <h1 class="h-epsilon">选择配送方式:</h1>
</div>
            <div class="brick-shadow" >
              {foreach $addr as $value}
              <div class="field radio-item  xl  brick-shadow1 " id="addrlist{$value['addr_id']}">
                  <input type="hidden" name="addrid" class="address-form-receiver" value="{$value['addr_id']}">
                  <input id="radio{$value['addr_id']}" name="address" type="radio" class="radio checked_radio" value="{$value['addr_id']}">
                    <label for="radio{$value['addr_id']}">
                      <div class="g address-form-content">
                        <div class="gi desk-one-fifth one-whole title">{$value['receiver']}</div>
                        <div class="gi desk-one-fifth one-whole">{$value['tel']}</div>
                        <div class="gi desk-one-fifth one-whole">{$value['email']}</div>
                        <div class="gi desk-two-fifths one-whole">{$value['address_detail']}</div>
                      </div>
                    <span class="addrid" value=""></span>
                    </label>
                </div>
                  <script type="text/javascript">
                    $("#radio{$value['addr_id']}").click(function () { 
                      //console.log($(this).attr('value'));
                      $('.addrid').attr('value',$(this).attr('value'))
                    })
                  </script>


              {/foreach}                       
                   <p class="field">
                <a href="javascript:;" id="address_new" class="button-light">添加新地址</a>
                </p><div class="js-content address-form-new" id="addr" style="display:none;">
                  <div id="address-create" class="g">
              
  <div class="gi field lap-one-whole desk-one-quarter">
    <label>*收货人姓名</label>
    <input type="text" id="receiver">
  </div>
  <div class="g">
    <div class="gi field lap-one-whole desk-one-quarter">
      <label>*手机号码</label>
      <input type="text" id="tel">
    </div>
  </div>
    <div class="g field">
  <label>*收货地址</label>

  <div class="g">
   

</div>
<div data-toggle="distpicker">
  <select id="province" data-province="---- 选择省 ----" style="width: 150px;height: 65px;"  name="province"></select>
  <select id="city" data-city="---- 选择市 ----" style="width: 150px;height: 65px;"  name="city"></select>
  <select id="county" data-district="---- 选择区 ----" style="width: 150px;height: 65px;"  name="county"></select>
</div>
  
  </div>
  <div class="g">
    <div class="gi desk-two-thirds one-whole">
      <input class="address-detail" type="text" id="address_detail" value="" placeholder="详细街道地址">
    </div>
  </div>
</div>
  <div class="g">
    <div class="gi field lap-one-whole desk-one-quarter">
      <label>联系邮箱</label>
      <input type="text" id="email">
    </div>
  </div>
  <div class="form-actions">
    <div class="pull-left">
      <a class="button-light pull-left address-store" id="save">保存</a>
      <a class="button-light pull-left address-new-cancel" id="cancel">取消</a>
    </div>
  </div>
</div>
                </div>
<div class="brick-shadow">

<input type="hidden" id="oid" value="">
                        <div class="brick-shadow" id="payment_method_filed">
              <h3 class="h-epsilon">支付方式:</h3>
              <div class="field radio-item payment_method_online">
                                      <!--   <span class="radio webkit webkit59 not_msie custom-form_payment_method_radio0 checked_radio">
                                          <input id="payment_method_radio0" name="payment_method_radio" type="radio" value="0" data-fee="0">
                                        </span> -->
                                         <input  type="radio" class="radio checked_radio" value="" id="payway">
                    <label for="payment_method_radio0">
                      <span class="main">
                        在线支付
                      </span>
                    </label>
                  </div>
            

                            <div class="g-hide">
               

              </div>
            </div>
            
                          <div class="brick-bottom" >
          <div class="slab-white opr-detail">
       
       <div class="brick-shadow">
                          <h4>商品清单：</h4>
                  {foreach $list as $value}
                            <div class="goods-list">
                <div class="goods-list-show">
                  <a class="goods-list-image" href="" target="_blank">
                    
                  </a>
                </div>
                <div class="goods-list-detail">
                  <div class="goods-list-info goods-list-main">
                    <div class="goods-list-description">
                      <h4 class="heading">
                        <a href="" target="_blank">{$value['name']} {$value['color']}</a>
                      </h4>
                      <p>{$value['color']}|{$value['link']}|{$value['configure']}</p>
                    </div>
                    <div class="goods-list-quantity"><strong>×{$value['quantity']}</strong></div>
                    <div class="goods-list-price"><strong>￥
                                        {$value['price']}.00
                                        </strong></div>
                  </div>
                                    <div class="goods-list-info"> 
                    <div class="goods-list-quantity"><br/></div>
                  </div>
                </div>
                {/foreach}
              </div>
           </div>
      </div>

        
                        <div class="brick-shadow fee-list">
            
              <ul>
                <li>
                  <span class="fee-list-title">商品数量：</span>
                  <span class="fee-list-data">{$countlist}</span>
                </li>
                <li>
                  <span class="fee-list-title">合计：</span>
                  <span class="fee-list-data" id="trade_total_fee">￥<font>{$total}.00</font></span>
                </li>
              
                                <li>
                    <span class="fee-list-title">邮费（<font color="color_red">全场包邮</font>）：</span>
                  <span class="fee-list-data" id="shipping_fee_price">+ ￥0.00</span>
                </li>
              
                <li>
                  <span class="fee-list-title">应付金额：</span>
                                      <span class="fee-list-data fee-list-amount" id="amount_fee_price">￥{$total}.00</span>
                                  </li>
                              </ul>
            </div>

            <div class="form-actions brick-shadow right-text">
                                  <a class="button cart-button" id="sureorder">提交订单</a>
            </div>
          </div>

        </form>
      </div>

   </div>   


      

        </div>
    
       
        </div>


</div>
</div>

    </main> 

  
   
	    <div id='dialog-error-msg' class='hidden'>
			<div class="mask-common"></div>
			<div class="dialog-common dialog-box-common">
				<div class="dialog-container">
					<!-- <a class="dialog-close-common">×</a> -->
					<div class="dialog-content-common">
												<div class="field">
							<h4 class='dialog-title-common'>订单已提交</h4>
						</div>
																		<div class="dialog-common-content">
												</div>
																		<div class="field dialog-btn">
							<div class="g g-wrapper-s">
								<div class="gi lap-one-whole">

									<a class='button button-one-whole' id="sure">确定</a>
								</div>
							</div>
						</div>
											</div>
				</div>
			</div>
		</div>
      <div id="dialog" class='hidden'>
    <div class='mask'></div>
      <div class='dialog dialog-payment'>
        <div class='dialog-container'>
          <div class='dialog-content'>
            <div class='field'>
              <h4 class='dialog-title'>必须先选择收货地址和支付方式</h4>
            </div>
            <div class="field dialog-btn">
              <div class="g g-wrapper-s">
                <div class="gi lap-one-whole">
                  <a class='button button-one-whole' id="sure1">确定</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{include file="/index/footer" /}
    
    <div class='navi-scroll'>
  <div class="navi-scroll-content">
    <a href="javascript:;" class="scroll-top-btn"><span>回到顶部</span><i></i></a>
      </div>
</div>

    
        <div class="purchase-advisory">
        
    </div>
<!-- 支付方式 -->
 <script type="text/javascript">
   $('#payway').click(function () {
     $('#payway').attr('checked','checked');
      $('#payway').attr('value','1');
     //console.log($('#payway').attr('value'))
   })
 </script>   

<!-- 添加收货地址显示 -->
<script type="text/javascript">  
$('#address_new').click(function () {
  var addr = document.getElementById('addr');

  addr.style.display = 'block';
});
/*取消添加*/
$('#cancel').click(function () {
  var addr = document.getElementById('addr');
  addr.style.display = 'none';
});
/*省 市 区值获取*/
 var province = document.getElementById('province');
  province.onchange = function () {
    console.log(province.options[province.selectedIndex].value);
    $('#province').attr('data-province',province.options[province.selectedIndex].value);
  };
  var city = document.getElementById('city');
  city.onchange = function () {
    console.log(city.options[city.selectedIndex].value);
    $('#city').attr('data-city',city.options[city.selectedIndex].value);
  };

 var county = document.getElementById('county');
  county.onchange = function () {
    console.log(county.options[county.selectedIndex].value);
    $('#county').attr('data-district',county.options[county.selectedIndex].value);
  };
  /*保存收货地址*/
$('#save').click(function () {
    var uid = {$uid};
    var receiver = $('#receiver').val();
    var tel = $('#tel').val();
    var email = $('#email').val();
    var address_detail = $('#address_detail').val();
    var province = $('#province').attr('data-province');
    var city = $('#city').attr('data-city');
    var county = $("#county").attr('data-district');
    $.ajax({
      type:"post",    
      url:"/index/address/address",    
      dataType: 'json',
      async : true,
      data: {uid:uid,receiver:receiver,tel:tel,email:email,address_detail:address_detail,province:province,city:city,county:county}, 
      success:address 
    });
     function address(data)
     {
       var addr = document.getElementById('addr');
        addr.style.display = 'none';
        $('.brick-shadow1:last').append(' <div class="field radio-item dark xl address_list_0 brick-shadow1">        <input id="radio0" name="address" type="radio" class="radio checked_radio" value="">  <label for="radio0">                      <div class="g address-form-content">                        <div class="gi desk-one-fifth one-whole title">' + receiver + '</div>                        <div class="gi desk-one-fifth one-whole">'+ tel + '</div>  <div class="gi desk-one-fifth one-whole">'+email+'</div><div class="gi desk-two-fifths one-whole">'+address_detail+'</div></div><div class="links"></div></label></div>')
     }

});
</script>
<!-- 提交订单按钮 -->
<script type="text/javascript">
  $('#sureorder').click(function () {
    if ($('#payway').attr('value') != '1') {

      if ($("input[name='address']").attr('checked') != true) {
         $('#dialog').removeClass('hidden');

      }
    } else {
      
    var addr_id =  $('.addrid').attr('value');
    var oid = {$oid};
    var total =  {$total};
   

    $.ajax({
      type:"post",    
      url:"/index/shop/subIndent",    
      dataType: 'json',
      async : true,
      data: {addr_id:addr_id,total:total,oid:oid,is_pay:0}, 
      success:zhifu 
    });
     function zhifu(data)
     {
      //console.log(data); 
     
     }
     $('#dialog-error-msg').removeClass('hidden');
   }
   


  });
   $('#sure1').click(function () {
       $('#dialog').addClass('hidden');
    });
   $('#sure').click(function() {
      window.location.href="/index/shop/payfor/getid/{$oid}"; 
   });
</script>
<script type="text/javascript">
  
</script>
  </body>
</html>
