
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<html class='no-js'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE" />
    <meta content='width=device-width,initial-scale=1, user-scalable=no' name='viewport'>
    <title>『OPPO手机购买支付页面』OPPO智能手机支付_OPPO购买支付银行|支付平台-OPPO智能手机官网 </title>
    <meta name="keywords" content="OPPO智能手机支付,OPPO手机购买支付页面,OPPO购买支付银行,OPPO购买支付平台 " />
    <meta name="description" content="登陆OPPO手机官网支付页面，可以查询订单提交状态、订单编号、应付金额等信息，并请在48小时内完成支付，否则订单会被自动取消。 " />
    <link media="all" type="text/css" rel="stylesheet" href="https://shopfs.myoppo.com/shop/assets/stylesheets/styles.css?v=2017010100032">

    <script type="text/javascript">
		function checkBrowser(){
			var browser = {};
			var div = document.createElement( "div" );
			div.innerHTML = "<link/><table></table><a href='/a'>a</a><input type='checkbox'/>";
            var a = div.getElementsByTagName( "a" )[0];
			style = a && a.style;
			if (!style) {
				return;
			}
			style.cssText = "float:left;opacity:.5";
			// Support: IE<9
			// Make sure that element opacity exists (as opposed to filter)
			browser.opacity = style.opacity === "0.5";
			// Verify style float existence
			// (IE uses styleFloat instead of cssFloat)
			browser.cssFloat = !!style.cssFloat;
			if(browser.opacity && browser.cssFloat){
				return true;
			}else{
                //IE 8测试
                var userAgent = navigator.userAgent.toLocaleUpperCase();
                var msie = /MSIE [\d\.]+/;
                var version = msie.exec(userAgent);
                if (version<"MSIE 8") return false;
                else return true;
			}
		}
        var v = checkBrowser();
		if (!v) {
			window.location.href = "https://www.opposhop.cn/lower.html";
		}
    </script>
    <!--[if lt IE 9]>
      <link media="all" type="text/css" rel="stylesheet" href="https://www.opposhop.cn/assets/stylesheets/styles.css?v=2017010100032">

      <script src="https://shopfs.myoppo.com/shop/lib/html5shiv.js"></script>

      <script src="https://shopfs.myoppo.com/shop/lib/respond.min.js"></script>

      <script src="https://shopfs.myoppo.com/shop/lib/selectivizr-min.js"></script>

      <link media="all" type="text/css" rel="stylesheet" href="https://shopfs.myoppo.com/shop/assets/stylesheets/ie.css?v=2017010100032">

    <![endif]-->
    <script src="https://shopfs.myoppo.com/shop/lib/modernizr.custom.js"></script>

          <script>
    NTKF_PARAM = {
        siteid: "kf_9568",
        settingid: "kf_9568_1493698078342",
        uid:"",
        uname:"",
        isvip: "0",
        userlevel: "1",
        erpparam: "abc",
        orderid:171101207303889,
        orderprice:2799.00
    };
  </script>
  </head>
  <body>
  <header class='main-header'>
  <div class='upper-area'>
    <div class='wrapper g'>
                  <ul class='gi log-area'>
    <li class='gi hidden hasLogin' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area'>
      <a href='//www.opposhop.cn/orders'>
        <span class='text'>我的OPPO</span>
        <span class='icon icon-messages'></span>
        <span class='n-messages'>(0)</span>
      </a>
    </li>
    <li class='gi hidden hasLogin' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area'>
      <a class='logout sso-logout' href='javascript:void(0)'>退出</a>
    </li>
    <li class='gi hasLogout' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area'>
      <a class="sso-login" href='javascript:void(0)'>
        登录
      </a>
    </li>
    <li class='gi hasLogout' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area'>
      <a class="sso-register" href='javascript:void(0)'>
        注册
      </a>
    </li>
    </ul>      <ul class='gi menu-lang'>
  <li class='gi gi-language' data-desktop='.menu-lang' data-mobile='.main-menu nav .nav-ul-view > ul'>
    <a class='lang-link js-toggle-close' href='#'>Global</a>
    <div class='languages js-content' data-desktop='.gi-language' data-mobile='.languages-panel'>
      <div class='wrapper'>
        <h3 class='h-epsilon'>Select your country or region</h3>
        <ul>
          <li>
          <a  href='http://www.oppo.com/dz/'>Algérie</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/au/'>Australia</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/bd/'>Bangladesh</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/eg/'>Egypt</a>
          </li>
          <li>
          <a href='http://www.oppo.com/en/'>Global</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/in/'>India</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/id/'>Indonesia</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/ke/'>Kenya</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/my/'>Malaysia</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/ma/'>Maroc</a>
          </li>
          <!-- <li>
          <a  href='http://www.oppo.com/mx/'>México</a>
          </li> -->
          <!-- <li>
          <a  href='http://www.oppo.com/ng/'>Nigeria</a>
          </li> -->
          <li>
          <a  href='http://www.oppo.com/pk/'>Pakistan</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/ph/'>Philippines</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/sg/'>Singapore</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/lk/'>Sri Lanka</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/tw/'>台灣</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/ae/'>UAE</a>
          </li>
          <li>
          <a  href='http://www.oppomobile.vn/'>Việt Nam</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/th/'>ประเทศไทย</a>
          </li>
          <li>
          <a  href='http://www.oppo.com/mm/'>Myanmar</a>
          </li>
          <li>
          <a  class='current'  href='http://www.oppo.com/cn/'>中国</a>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>    </div>
  </div>
  <div class='bottom-area'>
    <div class='wrapper'>
      <a class='js-open-menu' href='#'>
        <i class='js-open-menu-bar'></i>
      </a>
      <div class='shop-cart'>
  <a href='https://www.opposhop.cn/cart'>
        <span class='icon icon-cart'></span>
    <span class='n-item-cart cart_number' id="shopping-count">0</span>
  </a>
</div>      <div class='logo logo-extend'>
        <a href='//www.oppo.com/cn/'>
          <img src="https://shopfs.myoppo.com/shop/media/images/logo.svg" alt="">
        </a>
        <!-- <a class="logo-special oppo-tj"  data-tj="www|img|revision|special-logo">
          <img src="/media/images/revision/qixi/qixi-logo.gif" />
        </a> -->
        <!-- <a class="logo-special oppo-tj"  data-tj="www|img|revision|special-logo">
          <img src="/media/images/revision/newyear/monkey-logo.gif" />
        </a> -->
      </div>
      <a class='js-open-user' href='#'>
        <img src="https://shopfs.myoppo.com/shop/media/images/icon-menu-user.png" alt="">
      </a>
      <div class='main-menu'>
        <!-- <div class='mobile-tools'>
          <a class='js-close-menu' href='#'>
            <img alt='' src='/cn/media/images/icon-menu-close.png' />
          </a>
          <ul class='g log-area'></ul>
        </div> -->
        <div class='search'></div>
        <nav>
  <div class='nav-ul-view'>
  <ul class='menu g'>
    <li class='gi
    '>
      <a class='m-item' href='//www.oppo.com/cn/'>
        <span>首页</span>
      </a>
    </li>
    <li class='gi'>
      <a class='m-item' href='//www.oppo.com/cn/products.html'>
        <span>产品</span>
      </a>
    </li>
                                <li class='gi
        '>
      <a class='m-item' id='storeLink' href='//www.opposhop.cn' data-hd-url='http://hd.oppo.com/act/2016/1001/index.html'>
        <span>商城</span>
              </a>
          </li>
    <li class='gi'>
      <a class='m-item' href='//www.oppo.com/cn/shops'>
        体验店
      </a>
    </li>
    <li class='gi'>
      <a class='m-item' href='//www.oppo.com/cn/service.html'>
        服务
              </a>
    </li>
          <li class='gi'>
      <a class='m-item' href='http://www.coloros.com/' target="_blank">
        ColorOS
      </a>
    </li>
    <li class='gi'>
      <a class='m-item  oppo-tj' href='http://www.oppo.cn/' target="_blank"   data-tj="opposhop|out|link|shequ">
        社区
      </a>
    </li>
    <li class='gi'>
      <a class='m-item' href='http://yun.oppo.com/' target="_blank">
        云服务
      </a>
    </li>
  </ul>
  </div>

</nav>
      </div>
      <div class='user-menu'>
<div class='relative'>
  <ul>
    <li class='user-menu-login'>
      <a href="//www.opposhop.cn/orders">我的订单</a>
    </li>
    <li class='user-menu-login'>
      <a href="https://id.oppo.com/account/profile">账户信息</a>
    </li>
    <li class='user-menu-login'>
      <a href="//www.opposhop.cn/user/addresses">配送地址</a>
    </li>
    <li class='user-menu-login user-menu-cart'>
      <a href="//www.opposhop.cn/cart">购物车</a>
    </li>
    <li class='user-menu-login user-menu-toLogin'>
      <a class="sso-login" href='javascript:void(0)'>
        登录
      </a>
    </li>
    <li class='user-menu-logout'>
      <a class="sso-logout" href='javascript:void(0)'>退出</a>
    </li>
  </ul>
</div>
</div>    </div>
  </div>
  <div class='nav-sub-menu'>
  <div class='relative'></div>
</div>
<div class='nav-search-mask'></div>
<div class='nav-search'>
  <div class='nav-search-container'>
    <div class='nav-search-content'>
      <div class='nav-search-input'>
        <form action='//www.opposhop.cn/products' class='main-form'>
          <input placeholder='搜索OPPO商品' type='text' name="q">
          <button class='button' type='submit'>搜索</button>
          <a href='#' class='nav-search-close'>取消</a>
        </form>
      </div>
    </div>
  </div>
</div>  <div class="languages-panel"></div>
</header>
      <main class='main-content slab-light order-payments-revision opr' data-ismobile=''>
    <div class='wrapper'>
      <ul class='breadcrumb'>
  <li>
    <a href='//www.oppo.com/cn/'>
      首页
      <span>/</span>
    </a>
  </li>
            <li>
                  <a href='https://www.opposhop.cn/products?is_promotion=0&category=1'>
            在线购物
            <span>/</span>
          </a>
              </li>
          <li>
                  <a href='https://www.opposhop.cn/trade'>
            购物车结算
            <span>/</span>
          </a>
              </li>
          <li>
                  支付
              </li>
      </ul>
      <div class='brick-bottom'>
        <ul class='steps'><li class='one active '>
    <div class='step-content'>
            <h5 class='step-heading'>购物车</h5>
      <div class='step-gradient'></div>
    </div>
  </li><li class='two  active'>
    <div class='step-content palm-right-text'>
            <h5 class='step-heading'>填写订单</h5>
      <div class='step-gradient'></div>
    </div>
  </li><li class='three active step-completed'>
    <div class='step-content'>
            <h5 class='step-heading'>支付</h5>
      <div class='step-gradient'></div>
    </div>
  </li></ul>
      </div>

      <div class='slab-white opr-detail'>
        <div class='g'>
          <div class='gi desk-two-thirds one-whole'>
            <div class='opr-title'>订单提交成功！</div>

            <div class='opr-text'>订单号为 <i>171101207303889</i>，                请您在提交订单后<span class="alert-danger">48</span>小时内付款（逾期订单将自动取消）。</div>
          </div>
          <div class='gi desk-one-third one-whole opr-prices'>
            <div class='opr-price'>应付金额：<span>￥2799.00</span></div>
            <div class='opr-order-detail'><a href="javascript:;" class="oppo-tj" data-tj="store|link|order|detail">订单详情&nbsp;<span class='icon icon-arrow-down-green'></span></a></div>
          </div>
        </div>
        <div class='opr-order-details'>
          <p><label>商品清单：</label></p>
                                          <p>R11 玫瑰金色 旗舰爆款<span>x</span><span>1</span></p>
                                                                                        <p>蓝牙音箱Q9<span>x</span><span>1</span></p>
                                                                                                                                                                                                                                                              <p><label>收货信息：</label></p>
          <p>
                        陕西省西安市新城区胡家庙街道jdafjaoejfds &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          我去
              （13412345677） </p>
        </div>
      </div>

      
      <div class='slab-white opr-platform'>
        <div class='opr-platform-title'>选择支付平台：<!-- <span>（默认推荐您常用的支付平台）</span> --></div>
        <div class='brick-shadow'>
          <div class='select-platforms'><a href="javascript:;" class="open-platforms oppo-tj" data-tj="store|link|order|platforms" >选择其他支付平台&nbsp;<span class='icon icon-arrow-down-green'></span></a></div>
          <div class='list-platforms'>
            <form>
              <div class='g g-wrapper-s payment-group'>

                
                                                      <!--支付宝支付-->
                    <div class='gi one-whole'>
  <div class='field radio-item pay dark xl' >
    <input class='parent_radio oppo-tj' id='radio_alipay'   checked  name='payonline_category'  code="alipay" type="radio" bankcode="directpay" paymethod="0" seed="payment_alipay" qr_pay="0" data-tj="store|radio|order|alipay"/>
    <label for='radio_alipay'>
      <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/alipay_logo.png'>
                                                                                                                                                                                                              </label>
    </input>
  </div>
</div>                    <!--花呗支付-->
                    <div class='gi one-whole parent-huabei' >
  <div class='field radio-item pay dark xl' style="display:block!important;">
    <input class='parent_radio oppo-tj' id='radio_alipay_hb'  name='payonline_category' value='alipay_hb'  code="alipay" type="radio" bankcode="directpay" paymethod="0" seed="payment_alipay_hb" qr_pay="0" data-tj="store|radio|order|alipay-hb"/>
    <label for='radio_alipay_hb'>
      <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/alipay_hb.jpg'>
      <font class='alipay-hb-tip'>3/6/12期免息</font>
      <div class='radio-extend '>
        <div class='g g-wrapper-s alipay-hb-extend '>
                    <div class='gi desk-one-third one-whole'>
            <div class='field input-big-radio'>
              <input code='alipay_huabei_qishu oppo-tj' name='alipay_huabei_qishu' class='alipay_huabei_qishu' type='radio' id='due_3' value='3' data-tj="store|radio|order|installment_3" >
              <label for='due_3'>
                <div class='g alipay-hb-top'>
                  <div class='gi two-fifths'>
                    <span class='icon-hbs icon-hb-3'></span>
                  </div>
                  <div class='gi three-fifths alipay-hb-info'>分期价<br><font>￥933</font>X3</div>
                </div>
                <div class='g alipay-hb-bottom'>
                  <div class='gi one-whole'>共 ￥2799 &nbsp;&nbsp;<span>免手续费</span></div>
                  <!-- <div class='gi two-fifths'></div> -->
                </div>
              </label>
              <input type="hidden" name="huabei_qishu" value="3" class='installment_str_1'>
            </div>
          </div>
                    <div class='gi desk-one-third one-whole'>
            <div class='field input-big-radio'>
              <input code='alipay_huabei_qishu oppo-tj' name='alipay_huabei_qishu' class='alipay_huabei_qishu' type='radio' id='due_6' value='6' data-tj="store|radio|order|installment_6" >
              <label for='due_6'>
                <div class='g alipay-hb-top'>
                  <div class='gi two-fifths'>
                    <span class='icon-hbs icon-hb-6'></span>
                  </div>
                  <div class='gi three-fifths alipay-hb-info'>分期价<br><font>￥466.5</font>X6</div>
                </div>
                <div class='g alipay-hb-bottom'>
                  <div class='gi one-whole'>共 ￥2799 &nbsp;&nbsp;<span>免手续费</span></div>
                  <!-- <div class='gi two-fifths'></div> -->
                </div>
              </label>
              <input type="hidden" name="huabei_qishu" value="6" class='installment_str_1'>
            </div>
          </div>
                    <div class='gi desk-one-third one-whole'>
            <div class='field input-big-radio'>
              <input code='alipay_huabei_qishu oppo-tj' name='alipay_huabei_qishu' class='alipay_huabei_qishu' type='radio' id='due_12' value='12' data-tj="store|radio|order|installment_12" >
              <label for='due_12'>
                <div class='g alipay-hb-top'>
                  <div class='gi two-fifths'>
                    <span class='icon-hbs icon-hb-12'></span>
                  </div>
                  <div class='gi three-fifths alipay-hb-info'>分期价<br><font>￥233.25</font>X12</div>
                </div>
                <div class='g alipay-hb-bottom'>
                  <div class='gi one-whole'>共 ￥2799 &nbsp;&nbsp;<span>免手续费</span></div>
                  <!-- <div class='gi two-fifths'></div> -->
                </div>
              </label>
              <input type="hidden" name="huabei_qishu" value="12" class='installment_str_1'>
            </div>
          </div>
                    <div class='gi one-whole huawei-desk-info'>
                          <p><img alt='' src='https://shopfs.myoppo.com/shop/assets/images/huabei-more-bar.png'></p>
                        
            <p>0首付&nbsp;|&nbsp;分期无压力&nbsp;|&nbsp;支付宝自动还款&nbsp;|&nbsp;轻松无忧&nbsp;&nbsp;<a href="https://ds.alipay.com/fd-iiiblm8p/index.html" target="_blank">了解更多></a></p>
          </div>
        </div>
      </div>
    </label>
    </input>
  </div>
</div>
                                    <!--微信扫码支付-->
                  <div class='gi one-whole'>
  <div class='field radio-item pay dark xl'>
    <input class='parent_radio' id='radio_weixin_qrcode' value='weixin_qrcode'  name='payonline_category'  code="weixin_qrcode" type="radio" bankcode="directpay" paymethod="0" seed="payment_tenpay" qr_pay="0" data-tj="store|radio|order|weixin_qrcode">
    <label for='radio_weixin_qrcode'>
      <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/weixin.jpg'>
      <div class='radio-extend portable-hide'>
        <div class='g'>
          <div class='gi one-half'>
            <p class="align-center mg-50"><img id="weixin_qrcode" src="https://shopfs.myoppo.com/shop/assets/images/loader.gif" data-src="https://www.opposhop.cn/orders/pay?order_sn=171101207303889&payment_code=weixin_js&payment_bankcode=scan"  /></p>
            <p class="align-center" id="weixin_qrtext">使用微信扫码完成付款</p>
          </div>
          <div class='gi one-half'>
            <p class='align-center'><img src="https://shopfs.myoppo.com/shop/assets/images/phone-bg.png" /></p>
          </div>
        </div>
      </div>
    </label>
    </input>
  </div>
</div>                  
                                                  
                                  <!--网银支付-->
                  <div class='gi one-whole'>
  <div class='field radio-item pay dark xl'>
    <input class='parent_radio oppo-tj' id='radio_wangyin' name='payonline_category' value='wangyin' type='radio' data-tj="store|radio|order|wangyin">
    <label for='radio_wangyin'>
      <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_wangyin.jpg'>
      <div class='radio-extend'>
        <div class='g g-wrapper-s payment-group'>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_ICBCB2C' name='payonline_bank' code='alipay' type='radio' bankcode='ICBCB2C' paymethod='1' seed="payment_bank_ICBCB2C" data-tj="store|radio|order|wangyin_ICBCB2C">
                <label for='radio_ICBCB2C'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico4.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_CMB' name='payonline_bank' code='alipay' type='radio' bankcode='CMB' paymethod='1' seed="payment_bank_CMB" data-tj="store|radio|order|wangyin_CMB">
                <label for='radio_CMB'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico3.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_CCB' name='payonline_bank' code='alipay' type='radio' bankcode='CCB' paymethod='1' seed="payment_bank_CCB" data-tj="store|radio|order|wangyin_CCB">
                <label for='radio_CCB'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico5.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_BOCB2C' name='payonline_bank' code='alipay' type='radio' bankcode='BOCB2C' paymethod='1' seed="payment_bank_BOCB2C" data-tj="store|radio|order|wangyin_BOCB2C">
                <label for='radio_BOCB2C'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico7.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_ABC' name='payonline_bank' code='alipay' type='radio' bankcode='ABC' paymethod='1' seed="payment_bank_ABC" data-tj="store|radio|order|wangyin_ABC">
                <label for='radio_ABC'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico6.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_COMM' name='payonline_bank' code='alipay' type='radio' bankcode='COMM' paymethod='1' seed="payment_bank_COMM" data-tj="store|radio|order|wangyin_COMM">
                <label for='radio_COMM'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico8.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_PSBC-DEBIT' name='payonline_bank' code='alipay' type='radio' bankcode='PSBC-DEBIT' paymethod='1' seed="payment_bank_PSBC-DEBIT" data-tj="store|radio|order|wangyin_PSBC-DEBIT">
                <label for='radio_PSBC-DEBIT'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico9.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_CEB-DEBIT' name='payonline_bank' code='alipay' type='radio' bankcode='CEB-DEBIT' paymethod='1' seed="payment_bank_CEB-DEBIT" data-tj="store|radio|order|wangyin_CEB-DEBIT">
                <label for='radio_CEB-DEBIT'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico12.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_SPDB' name='payonline_bank' code='alipay' type='radio' bankcode='SPDB' paymethod='1' seed="payment_bank_SPDB" data-tj="store|radio|order|wangyin_SPDB">
                <label for='radio_SPDB'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico11.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_CITIC' name='payonline_bank' code='alipay' type='radio' bankcode='CITIC' paymethod='1' seed="payment_bank_CITIC" data-tj="store|radio|order|wangyin_CITIC">
                <label for='radio_CITIC'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico16.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_CIB' name='payonline_bank' code='alipay' type='radio' bankcode='CIB' paymethod='1' seed="payment_bank_CIB" data-tj="store|radio|order|wangyin_CIB">
                <label for='radio_CIB'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico14.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_SDB' name='payonline_bank' code='alipay' type='radio' bankcode='SDB' paymethod='1' seed="payment_bank_SDB" data-tj="store|radio|order|wangyin_SDB">
                <label for='radio_SDB'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico17.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_CMBC' name='payonline_bank' code='alipay' type='radio' bankcode='CMBC' paymethod='1' seed="payment_bank_CMBC" data-tj="store|radio|order|wangyin_CMBC">
                <label for='radio_CMBC'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico15.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_HZCBB2C' name='payonline_bank' code='alipay' type='radio' bankcode='HZCBB2C' paymethod='1' seed="payment_bank_HZCBB2C" data-tj="store|radio|order|wangyin_HZCBB2C">
                <label for='radio_HZCBB2C'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico21.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_SHBANK' name='payonline_bank' code='alipay' type='radio' bankcode='SHBANK' paymethod='1' seed="payment_bank_SHBANK" data-tj="store|radio|order|wangyin_SHBANK">
                <label for='radio_SHBANK'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico18.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_BJRCB' name='payonline_bank' code='alipay' type='radio' bankcode='BJRCB' paymethod='1' seed="payment_bank_BJRCB" data-tj="store|radio|order|wangyin_BJRCB">
                <label for='radio_BJRCB'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico19.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_SPABANK' name='payonline_bank' code='alipay' type='radio' bankcode='SPABANK' paymethod='1' seed="payment_bank_SPABANK" data-tj="store|radio|order|wangyin_SPABANK">
                <label for='radio_SPABANK'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico13.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_FDB' name='payonline_bank' code='alipay' type='radio' bankcode='FDB' paymethod='1' seed="payment_bank_FDB" data-tj="store|radio|order|wangyin_FDB">
                <label for='radio_FDB'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico23.png'>
                </label>
              </input>
            </div>
          </div>
                    <div class='gi desk-one-quarter'>
            <div class='field radio-item pay dark'>
              <input class="bank_radio oppo-tj" id='radio_NBBANK' name='payonline_bank' code='alipay' type='radio' bankcode='NBBANK' paymethod='1' seed="payment_bank_NBBANK" data-tj="store|radio|order|wangyin_NBBANK">
                <label for='radio_NBBANK'>
                  <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/payment_ico20.png'>
                </label>
              </input>
            </div>
          </div>
                  </div>
      </div>
    </label>
    </input>
  </div>
</div>                
              </div>
            </form>
          </div>
          <div class='opr-btn-pay'>
            <div class='g'>
              <div class='gi desk-three-quarters'>
                <p class='error_msg_note'>
                                  </p>
              </div>
              <div class='gi desk-one-quarter'>
                <a class='button cart-button oppo-tj' id='pay_action' href='javascript:;' data-tj='store|btn|order|lijizhifu' >立即支付</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
        <form action='https://www.opposhop.cn/orders/pay'  method='post' id='payment_form' target="_blank">
          <input type='hidden' name='order_sn' value='171101207303889'>
      <input type="hidden" name="payment_code" />
      <input type="hidden" name="payment_bankcode" />
      <input type="hidden" name="payment_method" />
      <input type="hidden" name="short_pay"/>
      <input type="hidden" name="payment_qr_pay"/>
      <input type="hidden" name="huabei_qishu"/>
    </form>
      <div id="dialog" class='hidden'>
    <div class='mask'></div>
      <div class='dialog dialog-payment'>
        <div class='dialog-container'>
          <div class='dialog-close'><a href='#'>x</a></div>
          <div class='dialog-content'>
            <div class='field'>
              <h4 class='dialog-title'>请确认您的支付情况</h4>
            </div>
            <div class='field dialog-btn'>
              <div class='g g-wrapper-s'>
                <div class='gi lap-one-half'>
                  <a id='paymentJumpUrl' href='https://www.opposhop.cn/orders/171101207303889/show' class='button'>支付成功</a>
                </div>
                <div class='gi lap-one-half'>
                  <a href='javascript:;' id='failed_to_pay' class='button-light'>支付失败</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div id="dialogForHuabei" class="hidden" data-ismobile=''>
    <div class='mask'></div>
      <div class='dialog'>
        <div class='dialog-container'>
          <div class='dialog-close'><a href='#'>x</a></div>
          <div class='dialog-content'>
            <p class='huabei-more-title'>花呗分期额度不足？</p>
            <p class='huabei-more-subtitle'>可以试试 OPPO & 花呗专属额度</p>
            <p class='huabei-more-qrcode'><img src="https://shopfs.myoppo.com/shop/assets/images/huabei_more.png"></p>
            <p class='huabei-more-info'>使用支付宝扫一扫</p>
          </div>
        </div>
      </div>
  </div>
{include file="/index/footer" /}
    
    <div class='navi-scroll'>
  <div class="navi-scroll-content">
    <a href="javascript:;" class="scroll-top-btn"><span>回到顶部</span><i></i></a>
      </div>
</div>

    
    
    <script src="https://shopfs.myoppo.com/shop/lib/jquery-1.9.1.min.js"></script>

   




  </body>
</html>
