
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<html class='no-js'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE" />
    <meta content='width=device-width,initial-scale=1, user-scalable=no' name='viewport'>
    <title>『OPPO手机购买支付页面』OPPO智能手机支付_OPPO购买支付银行|支付平台-OPPO智能手机官网 </title>
    <link media="all" type="text/css" rel="stylesheet" href="__CSS__styles_9.css?v=2017010100032">

  </head>
  <body>
{include file="/index/header" /}
      <main class='main-content slab-light order-payments-revision opr' data-ismobile=''>
    <div class='wrapper'>
      <ul class='breadcrumb'>
  <li>
    <a href='/index/index/index'>
      首页
      <span>/</span>
    </a>
  </li>
            <li>
                  <a href='/index/shop/shop'>
            在线购物
            <span>/</span>
          </a>
              </li>
          <li>
                  <a href='/index/shop/indent'>
            购物车结算
            <span>/</span>
          </a>
              </li>
          <li>
                  支付
              </li>
      </ul>
      <div class='brick-bottom'>
        <ul class='steps'><li class='one active '>
    <div class='step-content'>
            <h5 class='step-heading'>购物车</h5>
      <div class='step-gradient'></div>
    </div>
  </li><li class='two  active'>
    <div class='step-content palm-right-text'>
            <h5 class='step-heading'>填写订单</h5>
      <div class='step-gradient'></div>
    </div>
  </li><li class='three active step-completed'>
    <div class='step-content'>
            <h5 class='step-heading'>支付</h5>
      <div class='step-gradient'></div>
    </div>
  </li></ul>
      </div>

      <div class='slab-white opr-detail'>
        <div class='g'>
          <div class='gi desk-two-thirds one-whole'>
            <div class='opr-title'>订单提交成功！</div>

            <div class='opr-text'>订单号为 <i>{$getid}</i>，                请在提交订单后<span class="alert-danger">尽快</span>付款哟亲。</div>
          </div>
          <div class='gi desk-one-third one-whole opr-prices'>
            <div class='opr-price'>应付金额：<span>￥{$total}.00</span></div>
            <div id="open" class='opr-order-detail'><a >订单详情&nbsp;<span class='icon icon-arrow-down-green'></span></a></div>
          </div>
        </div>
        <div class='opr-order-details' style="display: none;" id="goodslist">
          <p><label>商品清单：</label></p>
          {foreach $details as $value}
          <p>{$value['name']} {$value['color']}<span>x</span><span>{$value['quantity']}</span></p>  
           {/foreach}                         
          <p><label>收货信息：</label></p>
          <p>{$details[0]['address_detail']} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             {$details[0]['receiver']}
            （{$details[0]['tel']}） </p>
          
        </div>
      </div>

      
      <div class='slab-white opr-platform'>
        <div class='opr-platform-title'>请使用支付宝平台：<!-- <span>（默认推荐您常用的支付平台）</span> --></div>
        <div class='brick-shadow'>
         
          <div class='list-platforms'>
            <form>
              <div class='g g-wrapper-s payment-group'>

                
                                                      <!--支付宝支付-->
                    <div class='gi one-whole'>
  <div class='field radio-item pay dark xl' >
    <input class='parent_radio oppo-tj' id='radio_alipay'   checked  name='payonline_category'  code="alipay" type="radio" bankcode="directpay" paymethod="0" seed="payment_alipay" qr_pay="0" data-tj="store|radio|order|alipay"/>
    <label for='radio_alipay'>
      <img alt='' src='https://shopfs.myoppo.com/shop/assets/images/payments/alipay_logo.png'>                                                                                                         </label>
    </input>
  </div>
</div>                        
               <img src="__PICTURE__14920694279238.png">
              </div>
            </form>
          </div>
          <div class='opr-btn-pay'>
            <div class='g'>
              <div class='gi desk-three-quarters'>
                <p class='error_msg_note'>
                                  </p>
              </div>
              <div class='gi desk-one-quarter'>
                <a class='button cart-button oppo-tj' id='pay_action' >立即支付</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
       
      <div id="dialog" class='hidden'>
    <div class='mask'></div>
      <div class='dialog dialog-payment'>
        <div class='dialog-container'>
          <div class='dialog-close'><a >x</a></div>
          <div class='dialog-content'>
            <div class='field'>
              <h4 class='dialog-title'>请确认您的支付情况</h4>
            </div>
            <div class='field dialog-btn'>
              <div class='g g-wrapper-s'>
                <div class='gi lap-one-half'>
                  <a id='paymentJumpUrl'  class='button'>支付成功</a>
                </div>
                <div class='gi lap-one-half'>
                  <a  id='failed_to_pay' class='button-light'>支付失败</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

 
{include file="/index/footer" /}
    
    <div class='navi-scroll'>
  <div class="navi-scroll-content">
    <a href="javascript:;" class="scroll-top-btn"><span>回到顶部</span><i></i></a>
      </div>
</div>

    
    
    <script src="https://shopfs.myoppo.com/shop/lib/jquery-1.9.1.min.js"></script>

<script type="text/javascript">
  /*商品清单详情*/
 $('#open').click(function () {
  var goods = $('#goodslist').attr('class');
    if (goods == 'opr-order-details') {
      $('#goodslist').attr('style','display:block');
      $('#goodslist').attr('class','opr-order-details opens');
    } else if (goods == 'opr-order-details opens') {
       $('#goodslist').attr('style','display:none');
        $('#goodslist').attr('class','opr-order-details');
    }
 })
/*支付按钮*/
$('#pay_action').click(function () {
  $('#dialog').removeClass('hidden');
});
/*取消支付按钮*/
$('#failed_to_pay').click(function () {
  $('#dialog').addClass('hidden');
});
$('.dialog-close').click(function () {
  $('#dialog').addClass('hidden');
});
/*确定支付按钮*/
$('#paymentJumpUrl').click(function () {
  var getid = {$getid};
  $.ajax({
      type:"post",    
      url:"/index/shop/subPay",    
      dataType: 'json',
      async : true,
      data: {is_pay:1,getid:getid}, 
      success:pays 
    });
     function pays(data)
     {
      
     }
    
   window.location.href="/index/index/myoppo"; 
});




</script>




  </body>
</html>
