<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<html class='no-js'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE" />
    <meta content='width=device-width,initial-scale=1, user-scalable=no' name='viewport'>
    <title>『OPPO官网商城』OPPO最新款智能手机在线购买_OPPO最新款智能手机快捷支付-OPPO智能手机官网 </title>
    <link media="all" type="text/css" rel="stylesheet" href="__CSS__styles_4.css">

  </head>
  <body>
  {include file="/index/header" /}
      <main class='main-content slab-white'>
        <div class='full-carousel slick-dot-circle'>
      <div class='hero slick-slide'>
  <div class='hero-image center'>
      <a  href='' >
    <picture>
      {volist name = "adv" id = "v"}
      <img alt="{$v.url}" title="{$v.title}" src="{$v.path}"  >
      {/volist}
    </picture>
    </a>
  </div>
</div>
    </div>
    <section class='brick-m'>
      <div class='wrapper'>
                <div class='grid-special equalize top-bar'>
                  {foreach $all as $val}
          <div class='box ' >
  <a target='_blank' href="/index/shop/details/pid/{$val['pid']}"title="">
          <div class='box-photo'>
                  <img width="185px" height="220px" alt='' title="{$val['title']}" src="{$val['path_url']}">
              </div>
        <h2 class='box-heading'>
              <a target='_blank' href='' title="{$val['title']}">{$val['title']}</a>
          </h2>

    <div class='box-details'>
                                                <p class='box-price'>
         
          <span class='normal'>￥.00</span>
         
          <strong>￥.00</strong>
        </p>
                      </div>
       <!--  <i class="ribbon  ribbon-new   "></i> 
             <i class="ribbon  ribbon-new   "></i> 
        <i class="ribbon    ribbon-cheap "></i>--> 
            <!-- 折扣、促销标签
    <div class='box-features'>
                      </div> -->
  </a>
</div>
{/foreach}
        
      
          </div>
      </div>
    </section>
    <section class='brick-m'>
      <div class='wrapper'>
        <div class='grid-special equalize top-bar'>
          

       
          </div>
      </div>
    </section>
            <section class='brick-s grid-one'>
    
    </section>
      </main>
 {include file="/index/footer" /}
    
    <div class='navi-scroll'>
  <div class="navi-scroll-content">
    <a href="javascript:;" class="scroll-top-btn"><span>回到顶部</span><i></i></a>
      </div>
</div>

    
            <div class="purchase-advisory">
        <a onclick="NTKF.im_openInPageChat('');" class="oppo-tj" data-tj="store|chatclient|purchase|home" id="advisory">购机咨询</a>
    </div>
    
    <script src="__JS__jquery-1.9.1.min.js"></script>

    <script src="__JS__jquery.lazyload.min.js"></script>

    <script src="__JS__underscore-min.js"></script>

    <script src="__JS__es5-shim.min.js"></script>

    <script src="__JS__base64.min.js"></script>

    <script src="__JS__custom_form.js"></script>

    <script src="__JS__jquery.countdown.min.js"></script>

    <script src="__JS__slick.min.js"></script>

    <script src="__JS__responsive.js"></script>

    <script src="__JS__picturefill.min.js"></script>

    <script src="__JS__scripts.js"></script>

        <script src="__JS__opposhop.min.js"></script>


      
  </body>
</html>
<!-- cached at 2017-09-29 17:00:06 -->